Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(ci): whip windows into conformance. again.
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

refactor(wrap-and-indent): splits the algo for readability
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

splut
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

refactor: removes 3rd party dependency 'wrap-ansi' (#946)
  package-lock.json
  package.json
  src/report/error.mjs
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

chore(npm): removes unused devDependency shx
  package-lock.json
  package.json
Due: none

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

16.3.7
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

mod: support svelte v4
  doc/faq.md
  package-lock.json
  package.json
  src/meta.cjs
  test/extract/transpile/__fixtures__/svelte-too.js
  test/extract/transpile/__fixtures__/svelte.js
  test/extract/transpile/meta.spec.mjs
Due: eslint --fix, prettier --write

fix: svelte policy
  package.json
Due: none

fix(lint): removes (now?) superfluous eslint comment
  test/extract/transpile/svelte-preprocess.spec.mjs
Due: eslint --fix, prettier --write

feat: support svelte 4 (#948)
  doc/faq.md
  package-lock.json
  package.json
  src/meta.cjs
  test/extract/transpile/__fixtures__/svelte-too.js
  test/extract/transpile/__fixtures__/svelte.js
  test/extract/transpile/meta.spec.mjs
  test/extract/transpile/svelte-preprocess.spec.mjs
Due: eslint --fix, prettier --write

chore: removes some additional references to/ uses of lodash
  src/extract/resolve/external-module-helpers.mjs
  test/config-utl/extract-babel-config.spec.mjs
  test/enrich/is-same-violation.spec.mjs
  test/extract/acorn/parse.spec.mjs
  test/extract/resolve/external-module-helpers.spec.mjs
  test/report/utl/index.spec.mjs
Due: eslint --fix, prettier --write

16.3.8
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

fix(ci): runs release & prelease on node 22.4.x instead of 22.x to circumvent issue with 22.5 + npm 10.8.2
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

16.3.9
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

chore: adds kubotak-is to contributors in package manifest
  package.json
Due: none

Revert "fix(ci): runs release & prelease on node 22.4.x instead of 22.x to circumvent issue with 22.5 + npm 10.8.2"
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

refactor(test): simplifies is-same-violation unit tests
  test/enrich/is-same-violation.spec.mjs
Due: eslint --fix, prettier --write

refactor: replace lodash - step 1: centralize use of lodash in #utl folder
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/config-utl/extract-depcruise-config/merge-configs.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/extract/extract-dependencies.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/graph-utl/consolidate-modules.mjs
  src/main/helpers.mjs
  src/main/rule-set/assert-validity.mjs
  src/report/dot/index.mjs
  src/report/dot/theming.mjs
  src/utl/array-util.mjs
  src/utl/object-util.mjs
Due: eslint --fix, prettier --write

refactor: replace lodash - step 2: replaces remaining array methods uniqBy and uniqWith
  src/utl/array-util.mjs
Due: eslint --fix, prettier --write

refactor: replace lodash - step 3: replaces remaining object methods has, get and set
  src/report/dot/index.mjs
  src/report/dot/theming.mjs
  src/utl/object-util.mjs
  test/cli/index.spec.mjs
  test/utl/object-util.spec.mjs
Due: eslint --fix, prettier --write

refactor: replace lodash - step 4: removes lodash & @types/lodash from the package manifest
  package-lock.json
  package.json
Due: none

fix: applies suggestions from code review
  src/config-utl/extract-depcruise-config/merge-configs.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/main/rule-set/assert-validity.mjs
  src/report/dot/index.mjs
  src/report/dot/theming.mjs
  test/cli/index.spec.mjs
Due: eslint --fix, prettier --write

refactor: replaces lodash (#950)
  package-lock.json
  package.json
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/config-utl/extract-depcruise-config/merge-configs.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/extract/extract-dependencies.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/graph-utl/consolidate-modules.mjs
  src/main/helpers.mjs
  src/main/rule-set/assert-validity.mjs
  src/report/dot/index.mjs
  src/report/dot/theming.mjs
  src/utl/array-util.mjs
  src/utl/object-util.mjs
  test/utl/object-util.spec.mjs
Due: eslint --fix, prettier --write

16.3.10-beta-1
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

Reapply "fix(ci): runs release & prelease on node 22.4.x instead of 22.x to circumvent issue with 22.5 + npm 10.8.2"
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

16.3.10-beta-2
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

16.3.10
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

chore: converts own config to javascript
  .dependency-cruiser.json
  .dependency-cruiser.mjs
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  tools/schema/.dependency-cruiser.json
  tools/schema/.dependency-cruiser.mjs
  types/.dependency-cruiser.json
  types/.dependency-cruiser.mjs
  types/overview.html
  types/overview.svg
Due: prettier --write

chore: converts own config to javascript (#951)
  .dependency-cruiser.json
  .dependency-cruiser.mjs
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  tools/schema/.dependency-cruiser.json
  tools/schema/.dependency-cruiser.mjs
  types/.dependency-cruiser.json
  types/.dependency-cruiser.mjs
  types/overview.html
  types/overview.svg
Due: prettier --write

fix(extract): extends list of source that could be transformed with babel with modern ones
  src/extract/transpile/index.mjs
Due: eslint --fix, prettier --write

build(npm): updates external devDependencies
  .eslintrc.cjs
  package-lock.json
  package.json
Due: none

adds empty command & types
  bin/dependency-cruise.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/options.mjs
  types/options.d.mts
Due: eslint --fix, prettier --write

implement and testit
  src/cli/normalize-cli-options.mjs
  test/cli/normalize-cli-options.spec.mjs
Due: eslint --fix, prettier --write

document it
  bin/dependency-cruise.mjs
  doc/cli.md
Due: eslint --fix, prettier --write

dogfood it
  package.json
Due: none

polish the documenation a bit
  src/schema/configuration.schema.json
  src/schema/cruise-result.schema.json
  tools/schema/options.mjs
  types/options.d.mts
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
