Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(config-util): adds utility that extracts dependency-cruiser options from a dependency-cruiser config
  .dependency-cruiser.json
  doc/api.md
  package.json
  src/config-utl/extract-depcruise-config/index.mjs
  src/config-utl/extract-depcruise-config/read-config.mjs
  src/config-utl/extract-depcruise-options.mjs
  test/config-utl/__mocks__/depcruiseconfig/empty.mjs
  test/config-utl/__mocks__/depcruiseconfig/rules.sub-not-allowed-error-with-options.json
  test/config-utl/__mocks__/depcruiseconfig/rules.sub-not-allowed-error.json
  test/config-utl/extract-depcruise-options.spec.mjs
  types/config-utl/extract-depcruise-config.d.mts
  types/config-utl/extract-depcruise-options.d.mts
  types/dependency-cruiser.d.mts
Due: eslint --fix, prettier --write

fix(config-util): adds utility that extracts dependency-cruiser options from a dependency-cruiser config (#933)
  .dependency-cruiser.json
  doc/api.md
  package.json
  src/config-utl/extract-depcruise-config/index.mjs
  src/config-utl/extract-depcruise-config/read-config.mjs
  src/config-utl/extract-depcruise-options.mjs
  test/config-utl/__mocks__/depcruiseconfig/empty.mjs
  test/config-utl/__mocks__/depcruiseconfig/rules.sub-not-allowed-error-with-options.json
  test/config-utl/__mocks__/depcruiseconfig/rules.sub-not-allowed-error.json
  test/config-utl/extract-depcruise-options.spec.mjs
  types/config-utl/extract-depcruise-config.d.mts
  types/config-utl/extract-depcruise-options.d.mts
  types/dependency-cruiser.d.mts
Due: eslint --fix, prettier --write

16.3.2
  doc/assets/filtering/focus.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package-lock.json
  package.json
  src/meta.cjs
  tools/overview.svg
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

doc(options-reference): corrects a typo
  doc/options-reference.md
Due: none

fix(enrich/summarize): also configure experimentalStats to be in the summary (so the caching algorithme can pick it up as well)
  src/cache/helpers.mjs
  src/enrich/summarize/summarize-options.mjs
Due: eslint --fix, prettier --write

chore: makes generated .mjs schemas smaller
  src/schema/baseline-violations.schema.mjs
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.mjs
  tools/generate-schemas.utl.mjs
Due: eslint --fix, prettier --write

chore: don't include internal types in distribution
  package.json
Due: none

chore: copy edits config template (comments)
  src/cli/init-config/config-template.mjs
Due: eslint --fix, prettier --write

chore: lint --fix
  src/main/index.d.ts
  src/validate/index.d.ts
Due: none

chore: makes generated .mjs schemas smaller (#934)
  package.json
  src/cli/init-config/config-template.mjs
  src/main/index.d.ts
  src/schema/baseline-violations.schema.mjs
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.mjs
  src/validate/index.d.ts
  tools/generate-schemas.utl.mjs
Due: eslint --fix, prettier --write

chore(schema): corrects a typo
  src/schema/configuration.schema.json
  tools/schema/options.mjs
Due: prettier --write

doc(FAQ): copy update
  doc/faq.md
Due: none

chore(ci): makes husky config husky@9.x compliant
  .husky/pre-commit
  package.json
Due: none

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

16.3.3
  doc/assets/flat-report-example.svg
  package-lock.json
  package.json
  pw.mjs
  src/meta.cjs
Due: eslint --fix, prettier --write

refactor: pulls semver-try-require functionality in & removes the dependency
  .dependency-cruiser-known-violations.json
  package-lock.json
  package.json
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  src/extract/swc/dependency-visitor.mjs
  src/extract/swc/parse.mjs
  src/extract/transpile/babel-wrap.mjs
  src/extract/transpile/coffeescript-wrap.mjs
  src/extract/transpile/livescript-wrap.mjs
  src/extract/transpile/svelte-wrap.mjs
  src/extract/transpile/typescript-wrap.mjs
  src/extract/transpile/vue-template-wrap.cjs
  src/extract/tsc/extract-typescript-deps.mjs
  src/extract/tsc/parse.mjs
  src/utl/extract-root-module-name.cjs
  src/utl/try-import.mjs
  src/utl/try-require.cjs
  test/extract/transpile/vue3-template-wrap.spec.mjs
  test/utl/extract-root-module-name.spec.cjs
  test/utl/node_modules/beta/index.js
  test/utl/node_modules/beta/package.json
  test/utl/node_modules/no-default-export/main.mjs
  test/utl/node_modules/no-default-export/package.json
  test/utl/node_modules/rc/index.js
  test/utl/node_modules/rc/package.json
  test/utl/try-import.spec.mjs
  test/utl/try-require.spec.cjs
Due: eslint --fix, prettier --write

fix: adds exception to .dependency-cruiser.json so yarn berry test doesn't bork
  .dependency-cruiser.json
Due: none

refactor: pulls semver-try-require functionality in & removes the dependency (#939)
  .dependency-cruiser-known-violations.json
  .dependency-cruiser.json
  package-lock.json
  package.json
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  src/extract/swc/dependency-visitor.mjs
  src/extract/swc/parse.mjs
  src/extract/transpile/babel-wrap.mjs
  src/extract/transpile/coffeescript-wrap.mjs
  src/extract/transpile/livescript-wrap.mjs
  src/extract/transpile/svelte-wrap.mjs
  src/extract/transpile/typescript-wrap.mjs
  src/extract/transpile/vue-template-wrap.cjs
  src/extract/tsc/extract-typescript-deps.mjs
  src/extract/tsc/parse.mjs
  src/utl/extract-root-module-name.cjs
  src/utl/try-import.mjs
  src/utl/try-require.cjs
  test/extract/transpile/vue3-template-wrap.spec.mjs
  test/utl/extract-root-module-name.spec.cjs
  test/utl/node_modules/beta/index.js
  test/utl/node_modules/beta/package.json
  test/utl/node_modules/no-default-export/main.mjs
  test/utl/node_modules/no-default-export/package.json
  test/utl/node_modules/rc/index.js
  test/utl/node_modules/rc/package.json
  test/utl/try-import.spec.mjs
  test/utl/try-require.spec.cjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
  test/extract/transpile/__fixtures__/mts.mjs
  test/extract/transpile/__fixtures__/svelte-too.js
  test/extract/transpile/svelte-wrap.spec.mjs
Due: eslint --fix, prettier --write

chore: removes accidentally committed file
  pw.mjs
Due: none

refactor: removes 3rd party dependency 'indent-string'
  package-lock.json
  package.json
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

refactor: removes 3rd party dependency 'indent-string' (#940)
  package-lock.json
  package.json
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

refactor: removes 3rd party dependency 'figures'
  configs/plugins/3d-reporter-plugin.mjs
  package-lock.json
  package.json
  src/cli/format-meta-info.mjs
  src/cli/init-config/write-config.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/cli/listeners/cli-feedback.mjs
  src/report/error.mjs
  src/report/text.mjs
Due: eslint --fix, prettier --write

refactor: removes 3rd party dependency 'figures' (#941)
  configs/plugins/3d-reporter-plugin.mjs
  package-lock.json
  package.json
  src/cli/format-meta-info.mjs
  src/cli/init-config/write-config.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/cli/listeners/cli-feedback.mjs
  src/report/error.mjs
  src/report/text.mjs
Due: eslint --fix, prettier --write

refactor(init): replaces runtime wordwrap on feedback with a static wordwrap
  .dependency-cruiser-known-violations.json
  .dependency-cruiser.json
  src/cli/init-config/write-run-scripts-to-manifest.mjs
Due: eslint --fix, prettier --write

fix: replaces '√' back with '✔' as the 'tick' or 'ok' symbol
  package.json
  src/cli/format-meta-info.mjs
  src/cli/init-config/write-config.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/report/error.mjs
Due: eslint --fix, prettier --write

16.3.4
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

fix(extract/transpile): transpile script setup with vue 2 template compiler
  src/extract/transpile/vue-template-wrap.cjs
  test/extract/transpile/vue-template-wrap.spec.mjs
Due: eslint --fix, prettier --write

fix(extract/transpile): transpile script setup with vue 2 (#942)
  src/extract/transpile/vue-template-wrap.cjs
  test/extract/transpile/vue-template-wrap.spec.mjs
Due: eslint --fix, prettier --write

chore: adds ferdynator to contributors in package manifest
  package.json
Due: none

16.3.5
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

refactor: replaces lodash' flattenDeep, isEmpty, reject, omit with native alternatives
  src/enrich/summarize/summarize-modules.mjs
  src/extract/transpile/vue-template-wrap.cjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/consolidate-modules.mjs
  src/main/resolve-options/normalize.mjs
Due: eslint --fix, prettier --write

refactor: replaces lodash' merge with native alternative
  src/main/options/assert-validity.mjs
  test/main/options/assert-validity.spec.mjs
Due: eslint --fix, prettier --write

refactor: replaces lodash' flattenDeep, isEmpty, reject, omit, merge with native alternatives (#944)
  src/enrich/summarize/summarize-modules.mjs
  src/extract/transpile/vue-template-wrap.cjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/consolidate-modules.mjs
  src/main/options/assert-validity.mjs
  src/main/resolve-options/normalize.mjs
  test/main/options/assert-validity.spec.mjs
Due: eslint --fix, prettier --write

refactor: replaces chalk with tinycolors
  package-lock.json
  package.json
  src/cli/format-meta-info.mjs
  src/cli/index.mjs
  src/cli/init-config/write-config.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/cli/listeners/cli-feedback.mjs
  src/cli/listeners/performance-log/format-helpers.mjs
  src/report/error.mjs
  src/report/metrics.mjs
  src/report/text.mjs
  test/cli/index.spec.mjs
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
  test/report/error/error-long.spec.mjs
  test/report/error/error.spec.mjs
  test/report/text/text.spec.mjs
Due: eslint --fix, prettier --write

fix(ci): whip windows into conformance. again.
  .github/workflows/ci.yml
Due: none

refactor: replaces chalk with tinycolors (#945)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/cli/format-meta-info.mjs
  src/cli/index.mjs
  src/cli/init-config/write-config.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/cli/listeners/cli-feedback.mjs
  src/cli/listeners/performance-log/format-helpers.mjs
  src/report/error.mjs
  src/report/metrics.mjs
  src/report/text.mjs
  test/cli/index.spec.mjs
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
  test/report/error/error-long.spec.mjs
  test/report/error/error.spec.mjs
  test/report/text/text.spec.mjs
Due: eslint --fix, prettier --write

16.3.6
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

refactor: removes 3rd party dependency 'wrap-ansi'
  package-lock.json
  package.json
  src/report/error.mjs
  src/utl/wrap-and-indent.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
