Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

feat(cli): enables compile cache if it is available
  bin/dependency-cruise.mjs
Due: eslint --fix, prettier --write

harden: the build script reads file paths directly from... in generat...
  tools/generate-schemas.utl.mjs
Due: prettier --write

fix(build): re-adds esbuild to the devDependencies
  package-lock.json
  package.json
Due: none

chore(tools): uses node permission model
  Makefile
  tools/README.md
  tools/generate-meta.utl.mjs
  tools/generate-schema-validator.utl.mjs
  tools/generate-schemas.utl.mjs
Due: prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

chore(tools): makes the tools work again on node 22
  tools/generate-meta.utl.mjs
  tools/generate-schema-validator.utl.mjs
  tools/generate-schemas.utl.mjs
Due: prettier --write

18.1.1
  package-lock.json
  package.json
  src/meta.cjs
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/level2/level3/ignored-in-level2.txt
  test/utl/__mocks__/find-all-files/negation-tree/nested/nested-only-ignored.txt
  test/utl/__mocks__/find-all-files/negation-tree/nested/normal.log
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/disk-ignored.txt
  test/utl/__mocks__/find-all-files/nested-start-override-tree/root-ignored.txt
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

feat: enables configurations in typescript
  src/config-utl/extract-depcruise-config/index.mjs
  src/config-utl/extract-depcruise-config/read-config.mjs
Due: eslint --fix, prettier --write

18.2.0-beta-1
  doc/assets/flat-report-example.svg
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

feat: auto-search for typescript extensions as well
  src/cli/defaults.mjs
Due: eslint --fix, prettier --write

18.2.0-beta-2
  doc/assets/flat-report-example.svg
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

doc: uments that
  doc/cli.md
  doc/faq.md
  doc/rules-reference.md
Due: none

feat: enables configurations in typescript (#1077)
  doc/cli.md
  doc/faq.md
  doc/rules-reference.md
  src/cli/defaults.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  src/config-utl/extract-depcruise-config/read-config.mjs
Due: eslint --fix, prettier --write

fix: refreshes package lock
  package-lock.json
Due: none

refactor(cli): replaces is-installed-globally
  package-lock.json
  package.json
  src/cli/index.mjs
  src/cli/utl/is-installed-globally.mjs
  test/cli/utl/is-installed-globally.spec.mjs
Due: eslint --fix, prettier --write

refactor: a bit more
  src/cli/index.mjs
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

lintypinty
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

refactor: dry-wash the thing - making it 100 lines shorter
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

coverage for the new code -> 100%
  .c8rc.json
  test/cli/utl/is-installed-globally.spec.mjs
Due: eslint --fix, prettier --write

feat(utl/find-all-files|cache|init): also takes nested .gitignores into account
  src/utl/find-all-files.mjs
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/keep-root.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/child/keep-child.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/keep-nested.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/override-ignored.txt
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

WIP
  src/utl/find-all-files.mjs
  test/utl/__mocks__/find-all-files/additional-patterns-tree/keep.txt
  test/utl/__mocks__/find-all-files/additional-patterns-tree/vendor/ignored.txt
  test/utl/__mocks__/find-all-files/additional-patterns-tree/vendor/nested/ignored-too.txt
  test/utl/__mocks__/find-all-files/deep-start-tree/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/level2/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/level2/level3/keep.txt
  test/utl/__mocks__/find-all-files/negation-tree/.gitignore
  test/utl/__mocks__/find-all-files/negation-tree/nested/.gitignore
  test/utl/__mocks__/find-all-files/negation-tree/nested/important.log
  test/utl/__mocks__/find-all-files/negation-tree/root.txt
  test/utl/__mocks__/find-all-files/nested-start-override-tree/.gitignore
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/.gitignore
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/keep.txt
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/override-ignored.txt
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

if it's in the .gitignore it won't be on the ci => we write it manually
  src/utl/find-all-files.mjs
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

if it's in the .gitignore it won't be on the ci => we write it manually (but now in a proper before and for both files that have that ailment)
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

triple curse mswindows and the horse it rade in on
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

posix ftw
  src/utl/find-all-files.mjs
Due: eslint --fix, prettier --write

fixes typo & stylistic lint issue
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

bla
  .github/workflows/ci.yml
Due: none

ensure backwards compatibility
  src/utl/find-all-files.mjs
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

feat(utl/cache): also takes nested .gitignores into account (#1072)
  .github/workflows/ci.yml
  src/utl/find-all-files.mjs
  test/utl/__mocks__/find-all-files/additional-patterns-tree/keep.txt
  test/utl/__mocks__/find-all-files/additional-patterns-tree/vendor/ignored.txt
  test/utl/__mocks__/find-all-files/additional-patterns-tree/vendor/nested/ignored-too.txt
  test/utl/__mocks__/find-all-files/deep-start-tree/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/level2/.gitignore
  test/utl/__mocks__/find-all-files/deep-start-tree/level1/level2/level3/keep.txt
  test/utl/__mocks__/find-all-files/negation-tree/.gitignore
  test/utl/__mocks__/find-all-files/negation-tree/nested/.gitignore
  test/utl/__mocks__/find-all-files/negation-tree/nested/important.log
  test/utl/__mocks__/find-all-files/negation-tree/root.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/keep-root.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/child/keep-child.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/keep-nested.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/override-ignored.txt
  test/utl/__mocks__/find-all-files/nested-start-override-tree/.gitignore
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/.gitignore
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/keep.txt
  test/utl/__mocks__/find-all-files/nested-start-override-tree/nested/override-ignored.txt
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

chore(npm): updates external devDependencies
  package-lock.json
  package.json
Due: none

18.2.0
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

perf(utl): initializes severity translation table only once
  src/graph-utl/compare.mjs
  src/report/baseline.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  .oxlintrc.json
  package-lock.json
  package.json
  test/cache/cache.spec.mjs
Due: eslint --fix, prettier --write

feat(graph-utl): adds function to compare two sets of violations
  src/graph-utl/compare.mjs
  test/graph-utl/compare.violations.spec.mjs
Due: eslint --fix, prettier --write

fix(analyze|cache): adds ignoreKnown to the optionsUsed as well as to the cache invalidation
  src/analyze/summarize/summarize-options.mjs
  src/cache/options-compatible.mjs
  test/cli/__fixtures__/alternate-basedir/expected.json
  test/cli/__fixtures__/babel/babel-es6-result.json
  test/cli/__fixtures__/babel/babel-ts-result.json
  test/cli/__fixtures__/cjs.dir.filtered.json
  test/cli/__fixtures__/cjs.dir.json
  test/cli/__fixtures__/cjs.dir.stdout.json
  test/cli/__fixtures__/cjs.file.json
  test/cli/__fixtures__/dynamic-import-nok.json
  test/cli/__fixtures__/dynamic-import-ok.json
  test/cli/__fixtures__/empty.json
  test/cli/__fixtures__/jsdoc-import-tags/expected.json
  test/cli/__fixtures__/multiple-in-one-go.json
  test/cli/__fixtures__/typescript-path-and-ehr-array-resolution.json
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/cli/__fixtures__/workspaces-mono-repo-aliases/expected.json
  test/cli/__fixtures__/workspaces-mono-repo/expected.json
Due: eslint --fix, prettier --write

corrects typos
  test/graph-utl/compare.violations.spec.mjs
  types/dependency-cruiser.d.mts
Due: eslint --fix, prettier --write

feat(baseline): on baseline update (/ creation) show a diff count
  .dependency-cruiser-known-violations.json
  bin/depcruise-baseline.mjs
  src/analyze/analyze-modules.mjs
  src/analyze/index.mjs
  src/analyze/soften-known-violations.mjs
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/graph-utl/compare.mjs
  src/report/baseline.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.validate.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.validate.mjs
  test/analyze/soften-known-violations.spec.mjs
  test/cli/index.spec.mjs
  test/cli/normalize-cli-options.spec.mjs
  test/graph-utl/compare.violations.spec.mjs
  test/utl/array-util.spec.mjs
  tools/schema/options.mjs
  types/dependency-cruiser.d.mts
  types/options.d.mts
Due: eslint --fix, prettier --write

retain backwards compatibility
  src/cli/normalize-cli-options.mjs
  test/cli/__fixtures__/alternate-basedir/expected.json
  test/cli/__fixtures__/babel/babel-es6-result.json
  test/cli/__fixtures__/babel/babel-ts-result.json
  test/cli/__fixtures__/cjs.dir.filtered.json
  test/cli/__fixtures__/cjs.dir.json
  test/cli/__fixtures__/cjs.dir.stdout.json
  test/cli/__fixtures__/cjs.file.json
  test/cli/__fixtures__/dynamic-import-nok.json
  test/cli/__fixtures__/dynamic-import-ok.json
  test/cli/__fixtures__/jsdoc-import-tags/expected.json
  test/cli/__fixtures__/multiple-in-one-go.json
  test/cli/__fixtures__/typescript-path-and-ehr-array-resolution.json
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/cli/__fixtures__/workspaces-mono-repo-aliases/expected.json
  test/cli/__fixtures__/workspaces-mono-repo/expected.json
  test/cli/normalize-cli-options.spec.mjs
Due: eslint --fix, prettier --write
