Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix: let -> const
  src/graph-utl/filter-bank.mjs
Due: eslint --fix, prettier --write

perf: algorithm updates (#1022)
  src/extract/index.mjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/consolidate-modules.mjs
  src/graph-utl/filter-bank.mjs
Due: eslint --fix, prettier --write

chore(npm): updates external devDependencies
  package-lock.json
  package.json
Due: none

17.3.1
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

chore: regenerates package-lock
  package-lock.json
  package.json
Due: none

chore(devDependencies): replaces npm-run-all by npm-run-all2
  package-lock.json
  package.json
Due: none

perf(utl): improves performance of filesystem walker
  src/utl/find-all-files.mjs
Due: eslint --fix, prettier --write

perf(extract): refactors initial file gathering to be slightly more efficient
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

doc(cache/content strategy): corrects type annotation of the diff function
  src/cache/find-content-changes.mjs
Due: eslint --fix, prettier --write

perf(graph-utl): skips unnecessary function call for module lookups
  src/graph-utl/indexed-module-graph.mjs
Due: eslint --fix, prettier --write

refactor(derive): consolidates dependents derivation modules
  src/enrich/derive/dependents.mjs
  src/enrich/derive/dependents/get-dependents.mjs
  src/enrich/enrich-modules.mjs
  test/enrich/derive/dependents.spec.mjs
  test/enrich/derive/dependents/get-dependents.spec.mjs
Due: eslint --fix, prettier --write

refactor(enrich/derive/reachable): replaces reduce with easier-to-understand for loop
  src/enrich/derive/reachable.mjs
Due: eslint --fix, prettier --write

perf(enrich/derive/reachable): shallow copies modules in stead of cloning them
  src/enrich/derive/reachable.mjs
Due: eslint --fix, prettier --write

chore(npm): updates external devDependencies
  package-lock.json
  package.json
  src/cache/content-strategy.mjs
  src/cli/index.mjs
  src/cli/init-config/normalize-init-options.mjs
  src/main/resolve-options/normalize.mjs
  src/validate/match-folder-dependency-rule.mjs
  src/validate/matchers.mjs
  test/report/plugins/index.is-valid-plugin.spec.mjs
  types/strict-restrictions.d.mts
  types/strict-rule-set.d.mts
Due: eslint --fix, prettier --write

17.3.2
  doc/assets/filtering/focus.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package-lock.json
  package.json
  src/meta.cjs
  tools/overview.svg
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

chore(ci): run on node 20 & 25 instead of on node 20 & 24
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

perf(extract/typescript): replaces lookup + string comparisons with direct number comparisons
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

perf(extract/typescript): only check for exotic require strings for nodes that can contain them
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

perf(extract/typescript): skips uninteresting node kinds in walker
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

fix: removes bogus syntax kinds from the INTERESTING_NODE_KINDS set
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

17.3.3-beta-1
  doc/assets/flat-report-example.svg
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

refactor(extract/typescript): moves node visiting functions to heir own function to improve readability
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

refactor(extract/typescript): return when dependency & type are found
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

refactor(extract/typesccript): explain why superfluous seeming if exists; use a predefined Set in stead of an array
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

perf(extract/typescript): adds various performance optimizations (#1026)
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

refactor(extract|graph-utl): replaces fixed arrays with sets
  src/extract/helpers.mjs
  src/extract/resolve/index.mjs
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/graph-utl/filter-bank.mjs
Due: eslint --fix, prettier --write

let -> const in for .. of loops
  src/cache/find-content-changes.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  src/enrich/derive/reachable.mjs
  src/extract/acorn/extract-cjs-deps.mjs
  src/graph-utl/add-focus.mjs
  src/graph-utl/filter-bank.mjs
  src/main/options/normalize.mjs
Due: eslint --fix, prettier --write

doc(extract/resolve): corrects jsdoc
  src/extract/resolve/index.mjs
Due: eslint --fix, prettier --write

refactor(extract|graph-utl): replaces fixed arrays with sets (#1027)
  src/cache/find-content-changes.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  src/enrich/derive/reachable.mjs
  src/extract/acorn/extract-cjs-deps.mjs
  src/extract/helpers.mjs
  src/extract/resolve/index.mjs
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/graph-utl/add-focus.mjs
  src/graph-utl/filter-bank.mjs
  src/main/options/normalize.mjs
Due: eslint --fix, prettier --write

refactor(extract|graph-utl): replaces two leftover forEach'es with for .. of loops
  src/extract/acorn/extract-amd-deps.mjs
  src/graph-utl/indexed-module-graph.mjs
Due: eslint --fix, prettier --write

perf(utl): memoizes regexes that can be compiled once in advance
  src/extract/clear-caches.mjs
  src/extract/extract-dependencies.mjs
  src/graph-utl/match-facade.mjs
  src/utl/regex-cache.mjs
  test/utl/regex-cache.spec.mjs
Due: eslint --fix, prettier --write

fix(rule-set): adds logging statements to sub steps of the rule set validation
  .dependency-cruiser.mjs
  src/main/rule-set/assert-validity.mjs
  src/main/rule-set/normalize.mjs
Due: eslint --fix, prettier --write

refactor(main|schema|tools): compiles json schemas at build time - removes ajv as a runtime dependency"
  .prettierignore
  Makefile
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/format.mjs
  src/main/rule-set/assert-validity.mjs
  src/schema/README.md
  src/schema/configuration.validate.mjs
  src/schema/cruise-result.validate.mjs
  tools/generate-schema-validator.utl.mjs
Due: eslint --fix, prettier --write

adds generated files to more exception lists
  .c8rc.json
  .dependency-cruiser-known-violations.json
Due: none

centralizes ajv error message formatter
  src/main/format.mjs
  src/main/rule-set/assert-validity.mjs
  src/schema/utl.mjs
Due: eslint --fix, prettier --write

removes superfluous comment from a tool
  tools/generate-schema-validator.utl.mjs
Due: prettier --write

crrect taypooo
  tools/generate-schema-validator.utl.mjs
Due: prettier --write

perf(main|schema|tools): pre-compiles json schemas at build time - removes ajv as a runtime dependency (#1029)
  .c8rc.json
  .dependency-cruiser-known-violations.json
  .prettierignore
  Makefile
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/format.mjs
  src/main/rule-set/assert-validity.mjs
  src/schema/README.md
  src/schema/configuration.validate.mjs
  src/schema/cruise-result.validate.mjs
  src/schema/utl.mjs
  tools/generate-schema-validator.utl.mjs
Due: eslint --fix, prettier --write

doc: revises comments
  package.json
  src/cache/options-and-cache.md
  src/cache/options-compatible.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/cli/utl/io.mjs
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  src/enrich/derive/dependents.mjs
  src/enrich/derive/reachable.mjs
  src/extract/helpers.mjs
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/extract/resolve/index.mjs
  src/extract/resolve/is-built-in.mjs
  src/extract/resolve/module-classifiers.mjs
  src/extract/transpile/try-import-available.mjs
  src/extract/tsc/extract-typescript-deps.mjs
  src/main/options/normalize.mjs
  src/main/resolve-options/normalize.mjs
  src/main/rule-set/assert-validity.mjs
  src/report/anon/anonymize-path-element.md
  src/report/anon/anonymize-path-element.mjs
  src/report/anon/index.mjs
  src/report/azure-devops.mjs
  src/report/dot-webpage/svg-in-html-snippets/script.cjs
  src/report/dot/prepare-folder-level.mjs
  src/report/teamcity.mjs
  src/utl/object-util.mjs
  src/utl/try-import.mjs
Due: eslint --fix, prettier --write

chore: uses tabs in stead of spaces in distributed npm package
  package.json
Due: none

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
