Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix: prettier, apparently
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

15.3.1-beta-2
  doc/assets/d2.svg
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
  test/extract/__mocks__/gather-globbing/package.json
Due: none

fix(init): makes initial regular expressions more specific
  src/cli/init-config/config-template.mjs
Due: eslint --fix, prettier --write

fix(init): makes initial regular expressions more specific (#872)
  src/cli/init-config/config-template.mjs
Due: eslint --fix, prettier --write

15.4.0
  doc/assets/d2.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

feat(init): adds exception to not-to-dev-dep for type-only dependencies
  src/cli/init-config/config-template.mjs
Due: eslint --fix, prettier --write

fix: pathNot @types -> pathNot node_modules/@types - so it's more likely to only hit real typedefs
  src/cli/init-config/config-template.mjs
Due: eslint --fix, prettier --write

chore: apply the same to dependency-cruiser's own dependency-cruiser configuration
  .dependency-cruiser.json
  types/extract-ts-config.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

feat(init): adds exception to not-to-dev-dep for type-only dependencies (#874)
  .dependency-cruiser.json
  src/cli/init-config/config-template.mjs
  types/extract-ts-config.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

feat(extract): detect 'type-only' with inline imports/exports
  src/extract/ast-extractors/extract-typescript-deps.mjs
  test/extract/ast-extractors/extract-typescript-type-imports-and-exports.spec.mjs
Due: eslint --fix, prettier --write

fix: correctly sorts the exports fields in package.json
  package.json
Due: none

fix: adds the .d.mts to the extensions to scan in .dependency-cruiser.json
  .dependency-cruiser.json
Due: none

fix: renames all types/extract-*config.d.ts to .d.mts
  package.json
  types/extract-babel-config.d.mts
  types/extract-depcruise-config.d.mts
  types/extract-ts-config.d.mts
  types/extract-webpack-resolve-config.d.mts
Due: none

style: use full names
  src/extract/ast-extractors/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

fix(doc): re-organizes types folder, improves typing of extract-webpack-resolve-config
  package.json
  src/config-utl/extract-webpack-resolve-config.mjs
  types/config-utl/extract-babel-config.d.mts
  types/config-utl/extract-depcruise-config.d.mts
  types/config-utl/extract-ts-config.d.mts
  types/config-utl/extract-webpack-resolve-config.d.mts
  types/configuration.d.mts
  types/filter-types.d.mts
  types/overview.html
  types/overview.svg
  types/plugins/3d-reporter-plugin.d.mts
  types/plugins/mermaid-reporter-plugin.d.mts
  types/plugins/stats-reporter-plugin.d.mts
  types/tsconfig.json
Due: eslint --fix, prettier --write

refactor(wrap-stream-in-html): makes the wrapper easier to maintain
  .eslintrc.js
  src/cli/tools/svg-in-html-snippets/footer.snippet.html
  src/cli/tools/svg-in-html-snippets/header.snippet.html
  src/cli/tools/svg-in-html-snippets/script.js
  src/cli/tools/svg-in-html-snippets/style.css
  src/cli/tools/wrap-stream-in-html.mjs
Due: eslint --fix, prettier --write

lint --fix
  .dependency-cruiser.json
Due: none

refactor(wrap-stream-in-html): makes the wrapper easier to maintain (#877)
  .dependency-cruiser.json
  .eslintrc.js
  src/cli/tools/svg-in-html-snippets/footer.snippet.html
  src/cli/tools/svg-in-html-snippets/header.snippet.html
  src/cli/tools/svg-in-html-snippets/script.js
  src/cli/tools/svg-in-html-snippets/style.css
  src/cli/tools/wrap-stream-in-html.mjs
Due: eslint --fix, prettier --write

feat(wrap-stream-in-html): adds a gradient on highlighted edges
  src/cli/tools/svg-in-html-snippets/script.js
  src/cli/tools/svg-in-html-snippets/style.css
Due: eslint --fix, prettier --write

doc: updates the highlight-on-hover example
  doc/assets/highlight-on-hover.png
  doc/cli.md
Due: none

refactor: makes the hack look less gross
  src/cli/tools/svg-in-html-snippets/script.js
Due: eslint --fix, prettier --write

... and remove the comment that called a piece of the grossness out
  src/cli/tools/svg-in-html-snippets/script.js
Due: eslint --fix, prettier --write

feat(wrap-stream-in-html): adds a gradient on highlighted edges (#878)
  doc/assets/highlight-on-hover.png
  doc/cli.md
  src/cli/tools/svg-in-html-snippets/script.js
  src/cli/tools/svg-in-html-snippets/style.css
Due: eslint --fix, prettier --write

build(npm): updates external devDependencies
  package-lock.json
  package.json
Due: none

fix(wrap-stream-in-html): updates to oldskool javascript
  src/cli/tools/svg-in-html-snippets/script.js
Due: eslint --fix, prettier --write

15.5.0
  doc/assets/theming/bare.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package-lock.json
  package.json
  src/meta.js
  types/overview.html
Due: eslint --fix, prettier --write

feat(extract)!: detect 'type-only' with inline imports/exports - BREAKING (#875)
  src/extract/ast-extractors/extract-typescript-deps.mjs
  test/extract/ast-extractors/extract-typescript-type-imports-and-exports.spec.mjs
Due: eslint --fix, prettier --write

fixes: don't classify relative module names as 'aliased', give precedence to node native aliases might there be a conflict
  src/extract/resolve/module-classifiers.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

fix(resolve): takes 'workspaces' field into account when merging package manifests
  src/extract/resolve/merge-manifests.mjs
Due: eslint --fix, prettier --write

doc: aligns explanatory comment with code (module-classifiers)
  src/extract/resolve/module-classifiers.mjs
Due: eslint --fix, prettier --write

fix: webpack before native
  src/extract/resolve/module-classifiers.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

16.0.0-beta-1
  doc/assets/theming/bare.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

Ensure trailing newline is written to files and stdout
  src/cli/utl/io.mjs
Due: eslint --fix, prettier --write

Fix failing test
  test/cli/__fixtures__/cjs.dir.filtered.html
Due: none

Just use line feed characters
  src/cli/utl/io.mjs
Due: eslint --fix, prettier --write

Ensure trailing newline is written to files and stdout (#879)
  src/cli/utl/io.mjs
  test/cli/__fixtures__/cjs.dir.filtered.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
