Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

build(npm): updates external dependencies and refreshes package lock
  package-lock.json
  package.json
Due: none

chore(devDeps): add astrojs/compiler
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

test: .astro files can be scanned
  test/extract/transpile/meta.spec.mjs
Due: eslint --fix, prettier --write

wip and untested support for astro
  src/extract/helpers.mjs
  src/extract/transpile/astro-wrap.mjs
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/extract/tsc/parse.mjs
Due: eslint --fix, prettier --write

fix: transpile tsx to jsx
  src/extract/transpile/astro-wrap.mjs
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  test/extract/transpile/__fixtures__/astro-with-imports.jsx
  test/extract/transpile/__mocks__/astro-with-imports.astro
  test/extract/transpile/index.spec.mjs
Due: eslint --fix, prettier --write

add astro preprocessor to hoist static imports inside script tag
  src/extract/transpile/astro-preprocess.mjs
  test/extract/transpile/astro-preprocess.spec.mjs
Due: eslint --fix, prettier --write

use preprocessor
  src/extract/transpile/astro-wrap.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies and refreshes package lock
  package-lock.json
  package.json
  src/config-utl/extract-babel-config.mjs
  test/config-utl/extract-babel-config.spec.mjs
  tools/generate-schemas.utl.mjs
Due: eslint --fix, prettier --write

fix(graph-utl): makes the summary more deterministic
  src/graph-utl/compare.mjs
  test/graph-utl/compare.violations.spec.mjs
Due: eslint --fix, prettier --write

fix(graph-utl): adds more attributes to the comparison
  src/graph-utl/compare.mjs
  test/graph-utl/compare.violations.spec.mjs
Due: eslint --fix, prettier --write

18.0.0-beta-2
  doc/assets/flat-report-example.svg
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

fix(graph-utl): makes the summary more deterministic (#1066)
  src/graph-utl/compare.mjs
  test/graph-utl/compare.violations.spec.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

18.0.0
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

feat(report/error-html): makes the table heads sticky
  src/report/error-html/error-html-template.mjs
Due: eslint --fix, prettier --write

refactor(cli): replaces is-installed-globally
  package-lock.json
  package.json
  src/cli/index.mjs
  src/cli/utl/is-installed-globally.mjs
  test/cli/utl/is-installed-globally.spec.mjs
Due: eslint --fix, prettier --write

lintypinty
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

refactor: dry-wash the thing - making it 100 lines shorter
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

refactor: a bit more
  src/cli/index.mjs
  src/cli/utl/is-installed-globally.mjs
Due: eslint --fix, prettier --write

coverage for the new code -> 100%
  .c8rc.json
  test/cli/utl/is-installed-globally.spec.mjs
Due: eslint --fix, prettier --write

feat: adds environment inconsistency check (starting with typescript and babel)
  .dependency-cruiser.mjs
  src/analyze/summarize/index.mjs
  src/cache/cache.mjs
  src/cli/format-meta-info.mjs
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/environment.mjs
  src/main/report-wrap.mjs
  src/report/error.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.validate.mjs
  src/utl/regex-util.mjs
  tools/schema/summary.mjs
  types/cruise-result.d.mts
  types/dependency-cruiser.d.mts
  types/environment.d.mts
Due: eslint --fix, prettier --write

fix(tools/regenerate-main-fixtures): ensures it writes the correct baseDir to the fixtures
  tools/regenerate-main-fixtures.utl.mjs
Due: prettier --write

fix(test): ensures the new 'environment' is ignored when comparing result-json
  test/cli/asserthelpers.utl.mjs
Due: eslint --fix, prettier --write

fix(test): in .mocharc.cjs writes mocha timeout value more clearly
  .mocharc.cjs
Due: none

fix(report|analyze): adds tests that cover the new 'environment' and 'environment.issues' code
  src/analyze/summarize/index.mjs
  src/report/error.mjs
  test/analyze/summarize.spec.mjs
  test/report/error/__mocks__/environment-issues-no-violations.mjs
  test/report/error/__mocks__/environment-issues-violations.mjs
  test/report/error/error.spec.mjs
Due: eslint --fix, prettier --write

fix(types): adds missing attribute to IAvailableTranspiler interface (existing bug)
  types/environment.d.mts
Due: none

fix(test): removes invalid trailing comma's in a mock
  test/main/__mocks__/cruise-results-dc-2020-08-30-src-cli.json
Due: none

fix(test): makes the new test environment independent
  test/main/__fixtures__/jsx-as-object.json
  test/main/__fixtures__/jsx.json
  test/main/__fixtures__/ts-no-precomp-cjs.json
  test/main/__fixtures__/ts-no-precomp-es.json
  test/main/__fixtures__/ts-precomp-cjs.json
  test/main/__fixtures__/ts-precomp-es.json
  test/main/__fixtures__/ts.json
  test/main/__fixtures__/tsx.json
  test/main/__mocks__/collapse-after-cruise/expected-result.json
  test/main/__mocks__/dynamic-imports/es/output.json
  test/main/__mocks__/dynamic-imports/typescript/output-pre-compilation-deps.json
  test/main/__mocks__/dynamic-imports/typescript/output.json
  test/main/__mocks__/type-only-imports/output-with-rules.json
  test/main/__mocks__/type-only-imports/output.json
  test/main/__mocks__/type-only-module-references/output-no-ts.json
  test/main/__mocks__/type-only-module-references/output.json
  test/main/main.cruise.dynamic-imports.spec.mjs
  test/main/main.cruise.spec.mjs
  test/main/main.cruise.ts-pre-compilation-deps.spec.mjs
  test/main/main.cruise.type-only-imports.spec.mjs
  test/main/main.cruise.type-only-module-references.spec.mjs
  tools/regenerate-main-fixtures.utl.mjs
Due: eslint --fix, prettier --write

fix(analyze/summarize): adds more conditions to detect typescript-needed. Separates detection of swc
  src/analyze/summarize/index.mjs
  src/report/error.mjs
  test/analyze/summarize.spec.mjs
Due: eslint --fix, prettier --write

addresses review comments
  .dependency-cruiser.mjs
  src/analyze/summarize/index.mjs
  src/cli/normalize-cli-options.mjs
  test/analyze/summarize.spec.mjs
  test/cli/index.spec.mjs
Due: eslint --fix, prettier --write

addresses more review comments
  test/analyze/summarize.spec.mjs
  test/cli/asserthelpers.utl.mjs
  test/main/__fixtures__/jsx-as-object.json
  test/main/__fixtures__/jsx.json
  test/main/__fixtures__/ts-no-precomp-cjs.json
  test/main/__fixtures__/ts-no-precomp-es.json
  test/main/__fixtures__/ts-precomp-cjs.json
  test/main/__fixtures__/ts-precomp-es.json
  test/main/__fixtures__/ts.json
  test/main/__fixtures__/tsx.json
  test/main/__mocks__/collapse-after-cruise/expected-result.json
  test/main/__mocks__/dynamic-imports/es/output.json
  test/main/__mocks__/dynamic-imports/typescript/output-pre-compilation-deps.json
  test/main/__mocks__/dynamic-imports/typescript/output.json
  test/main/__mocks__/type-only-imports/output-with-rules.json
  test/main/__mocks__/type-only-imports/output.json
  test/main/__mocks__/type-only-module-references/output-no-ts.json
  test/main/__mocks__/type-only-module-references/output.json
  test/main/main.cruise.dynamic-imports.spec.mjs
  test/main/main.cruise.spec.mjs
  test/main/main.cruise.ts-pre-compilation-deps.spec.mjs
  test/main/main.cruise.type-only-imports.spec.mjs
  test/main/main.cruise.type-only-module-references.spec.mjs
  test/utl/dummy-environment.mjs
  tools/regenerate-main-fixtures.utl.mjs
Due: eslint --fix, prettier --write

addresses even more review comments
  src/environment.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
  types/options.d.mts
  types/rule-set.d.mts
  types/shared-types.d.mts
  types/strict-rule-set.d.mts
Due: none

18.1.0
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package-lock.json
  package.json
  src/meta.cjs
  tools/overview.svg
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

feat(utl/find-all-files|cache|init): also takes nested .gitignores into account
  src/utl/find-all-files.mjs
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/keep-root.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/child/keep-child.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/nested/keep-nested.txt
  test/utl/__mocks__/find-all-files/nested-gitignore-tree/override-ignored.txt
  test/utl/find-all-files.spec.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: none

fix: removes all unused catch parameters
  src/cache/cache.mjs
  src/cli/init-config/environment-helpers.mjs
  src/cli/init-config/validators.mjs
  src/cli/normalize-cli-options.mjs
  src/cli/utl/assert-file-existence.mjs
  src/extract/acorn/parse.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/extract/resolve/get-manifest.mjs
  src/extract/resolve/resolve-amd.mjs
  src/extract/resolve/resolve-cjs.mjs
  src/extract/transpile/try-import-available.mjs
  src/report/plugins.mjs
  src/utl/find-all-files.mjs
  src/utl/try-import.mjs
  src/utl/try-require.cjs
  test/cli/delete-dammit.utl.cjs
  test/config-utl/extract-babel-config.spec.mjs
  test/config-utl/extract-webpack-resolve-config-native.spec.mjs
  test/config-utl/extract-webpack-resolve-config-non-native.spec.mjs
  test/extract/get-dependencies.amd.spec.mjs
  test/extract/get-dependencies.cjs.spec.mjs
Due: eslint --fix, prettier --write
