Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

refactor(test): replaces chai with node:asserti II - enrich
  package.json
  test/enrich/de-duplicate-violations.spec.mjs
  test/enrich/derive/dependents/get-dependents.spec.mjs
  test/enrich/derive/folders/aggregate-to-folders.spec.mjs
  test/enrich/derive/folders/index.spec.mjs
  test/enrich/derive/folders/utl.spec.mjs
  test/enrich/derive/metrics/module.spec.mjs
  test/enrich/derive/orphan/index.spec.mjs
  test/enrich/derive/orphan/is-orphan.spec.mjs
  test/enrich/derive/reachable.spec.mjs
  test/enrich/soften-known-violations.spec.mjs
  test/enrich/summarize-folders.spec.mjs
  test/enrich/summarize.spec.mjs
  test/extract/run-get-dependencies-fixture.utl.mjs
Due: eslint --fix, prettier --write

fix: cleans up a forgotten test fixture
  test/extract/__fixtures__/es6.json
  test/extract/__mocks__/es6/imports-and-exports.js
Due: none

fix: format
  test/extract/get-dependencies.cjs.spec.mjs
  test/extract/get-dependencies.odds-and-ends.spec.mjs
  test/extract/run-get-dependencies-fixture.utl.mjs
  test/report/anon/anonymize.test.mjs
Due: eslint --fix, prettier --write

fix: corrects before/ after syntax mixup
  test/cli/index.test.mjs
Due: none

fix(ci): makes node:test run on node16 and windows as well
  .github/workflows/ci.yml
Due: none

chore: adds summary to the custom test reporter
  package.json
  tools/custom-reporter.mjs
Due: prettier --write

lintitabit
  tools/custom-reporter.mjs
Due: prettier --write

fix: more cleanup of the custom reporter
  .github/workflows/ci.yml
  package.json
  tools/custom-reporter.mjs
  tools/dots-with-summary.reporter.mjs
Due: prettier --write

refactor(report): rewrites html (table) report implementation without handlebars
  src/report/html/html-template.mjs
  src/report/html/html.template.js
  src/report/html/index.mjs
  test/cli/__fixtures__/cjs.dir.filtered.html
  test/report/html/__mocks__/cjs-no-dependency-valid.html
Due: eslint --fix, prettier --write

removes the generation of the handlebars template from the Makefile
  Makefile
Due: none

oh, windows!!!
  src/report/html/index.mjs
Due: eslint --fix, prettier --write

refactor(report): rewrites html (table) report implementation without handlebars (#828)
  Makefile
  src/report/html/html-template.mjs
  src/report/html/html.template.js
  src/report/html/index.mjs
  test/cli/__fixtures__/cjs.dir.filtered.html
  test/report/html/__mocks__/cjs-no-dependency-valid.html
Due: eslint --fix, prettier --write

refactor(report): rewrites err-html report implementation without handlebars
  Makefile
  src/report/error-html/error-html-template.mjs
  src/report/error-html/error-html.template.hbs
  src/report/error-html/error-html.template.js
  src/report/error-html/index.mjs
  src/report/error-html/utl.mjs
Due: eslint --fix, prettier --write

Shall I compare thee to a summer's day?
  src/report/error-html/utl.mjs
Due: eslint --fix, prettier --write

Thou art more lovely and more temperate.
  test/report/error-html/__mocks__/orphans-cycles-metrics.mjs
  test/report/error-html/error-html.spec.mjs
Due: eslint --fix, prettier --write

refactor(report): rewrites err-html reporter without handlebars (#829)
  Makefile
  src/report/error-html/error-html-template.mjs
  src/report/error-html/error-html.template.hbs
  src/report/error-html/error-html.template.js
  src/report/error-html/index.mjs
  src/report/error-html/utl.mjs
  test/report/error-html/__mocks__/orphans-cycles-metrics.mjs
  test/report/error-html/error-html.spec.mjs
Due: eslint --fix, prettier --write

refactor(cli): rewrites config scaffolding without handlebars
  Makefile
  src/cli/init-config/build-config.mjs
  src/cli/init-config/config-template.mjs
  src/cli/init-config/config.js.template.js
Due: eslint --fix, prettier --write

refactor(cli): rewrites config scaffolding without handlebars (#830)
  Makefile
  src/cli/init-config/build-config.mjs
  src/cli/init-config/config-template.mjs
  src/cli/init-config/config.js.template.js
Due: eslint --fix, prettier --write

build(npm): updates external devDependencies
  package.json
Due: none

13.1.3
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

Suggest `typings` as a main field whenever `types` is suggested
  doc/faq.md
  src/cli/init-config/build-config.mjs
  src/schema/cruise-result.schema.json
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.cjs
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.js
  tools/schema/options.mjs
Due: eslint --fix, prettier --write

updates the generated configuration schema to include 'typings' in its documentation
  src/schema/configuration.schema.json
Due: prettier --write

updates the typescript type definition documention of the mainFields attribute to include 'typings'
  types/options.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

Suggest `typings` as a `mainFields` wherever `types` is suggested (#831)
  doc/faq.md
  src/cli/init-config/build-config.mjs
  src/schema/configuration.schema.json
  src/schema/cruise-result.schema.json
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.cjs
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.js
  tools/schema/options.mjs
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(report/err-html): makes show/hide ignored violations work again
  src/report/error-html/index.mjs
  test/report/error-html/error-html.spec.mjs
Due: eslint --fix, prettier --write

fix(report/err-html): makes show/hide ignored violations work again (#832)
  src/report/error-html/index.mjs
  test/report/error-html/error-html.spec.mjs
Due: eslint --fix, prettier --write

refactor(report): rewrites all dot reporters without handlebars
  .c8rc.json
  .codeclimate.yml
  .dependency-cruiser.json
  .eslintrc.js
  .github/codeql/codeql-config.yml
  .prettierignore
  Makefile
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  package.json
  src/report/dot/dot.template.hbs
  src/report/dot/dot.template.js
  src/report/dot/index.mjs
  test/report/dot/custom-level/__fixtures__/dependency-cruiser-2020-01-25.dot
  test/report/dot/custom-level/__fixtures__/orphans.dot
  test/report/dot/custom-level/__fixtures__/rxjs.dot
  test/report/dot/flat-level/__fixtures__/dependency-cruiser-2020-01-25.dot
  test/report/dot/flat-level/__fixtures__/orphans.dot
  test/report/dot/flat-level/__fixtures__/rxjs.dot
  test/report/dot/flat-level/index.spec.mjs
  test/report/dot/module-level/__fixtures__/bunch-of-modules.dot
  test/report/dot/module-level/__fixtures__/clusterless.dot
  test/report/dot/module-level/__fixtures__/dependency-cruiser-2022-07-17-focus-me.dot
  test/report/dot/module-level/__fixtures__/do-not-follow-deps.dot
  test/report/dot/module-level/__fixtures__/es6-unresolvable-deps.dot
  test/report/dot/module-level/__fixtures__/orphan-deps.dot
  test/report/dot/module-level/__fixtures__/prefix-non-uri.dot
  test/report/dot/module-level/__fixtures__/prefix-uri.dot
Due: eslint --fix, prettier --write

windows :face_palm:
  src/report/dot/index.mjs
Due: eslint --fix, prettier --write

refactor(report): rewrites all dot reporters without handlebars (#833)
  .c8rc.json
  .codeclimate.yml
  .dependency-cruiser.json
  .eslintrc.js
  .github/codeql/codeql-config.yml
  .prettierignore
  Makefile
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  package.json
  src/report/dot/dot.template.hbs
  src/report/dot/dot.template.js
  src/report/dot/index.mjs
  test/report/dot/custom-level/__fixtures__/dependency-cruiser-2020-01-25.dot
  test/report/dot/custom-level/__fixtures__/orphans.dot
  test/report/dot/custom-level/__fixtures__/rxjs.dot
  test/report/dot/flat-level/__fixtures__/dependency-cruiser-2020-01-25.dot
  test/report/dot/flat-level/__fixtures__/orphans.dot
  test/report/dot/flat-level/__fixtures__/rxjs.dot
  test/report/dot/flat-level/index.spec.mjs
  test/report/dot/module-level/__fixtures__/bunch-of-modules.dot
  test/report/dot/module-level/__fixtures__/clusterless.dot
  test/report/dot/module-level/__fixtures__/dependency-cruiser-2022-07-17-focus-me.dot
  test/report/dot/module-level/__fixtures__/do-not-follow-deps.dot
  test/report/dot/module-level/__fixtures__/es6-unresolvable-deps.dot
  test/report/dot/module-level/__fixtures__/orphan-deps.dot
  test/report/dot/module-level/__fixtures__/prefix-non-uri.dot
  test/report/dot/module-level/__fixtures__/prefix-uri.dot
Due: eslint --fix, prettier --write

13.1.4
  doc/assets/flat-report-example.svg
  doc/assets/theming/engineering.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package.json
Due: none

ci: sets up automated publishing with provenance
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .gitignore
  .npmrc
  package-lock.json
Due: none

13.1.5
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

Added missing ": true," in options-reference.md example.
  doc/options-reference.md
Due: none

bugfix(doc): adds missing ": true," in options-reference.md example (#840)
  doc/options-reference.md
Due: none

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
