Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

refactor(cli): renames assertion function
  src/cli/format.mjs
  src/cli/index.mjs
  src/cli/utl/assert-file-existence.mjs
  test/cli/asserthelpers.utl.mjs
  test/cli/utl/assert-file-existence.spec.mjs
Due: eslint --fix, prettier --write

ci!: drops support for node 16 and 19 BREAKING
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/meta.js
  test/cli/validate-node-environment.spec.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

ci!: sets minimum supported nodejs version to 18.17
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

refactor: replaces 'glob' with 'picomatch' 1/n - test for glob magic
  package-lock.json
  package.json
  src/cli/index.mjs
Due: eslint --fix, prettier --write

and: the horse it rode in on
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

refactor(extract): rewrites gatherInitialSources so it's easier to swap out glob
  src/extract/gather-initial-sources.mjs
  test/extract/gather-initial-sources.spec.mjs
  test/main/main.cruise.cache.spec.mjs
Due: eslint --fix, prettier --write

and: its little cat
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

and: it's extended family in Brooklyn
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

srsly: f* msdos
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

Revert "disable all non-windows workflows & actions"
  .github/workflows/ci.yml
Due: none

I don't know Latin. I looked that up
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

don't let me ever do that again, msdos!
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

clean up the log statements
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

msdos: futue te ipsum et caballum tuum
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

slightly more readable version of the previous commit
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

refactor: replaces 'glob' with 'picomatch' for realz
  package-lock.json
  package.json
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

corrects a merge accident in ci.yml
  .github/workflows/ci.yml
Due: none

refactor: replaces 'glob' with 'picomatch' (#841)
  package-lock.json
  package.json
  src/cli/index.mjs
  src/extract/gather-initial-sources.mjs
  test/extract/gather-initial-sources.spec.mjs
  test/main/main.cruise.cache.spec.mjs
Due: eslint --fix, prettier --write

14.0.0
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/theming/base.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

refactor(extract): rewrites gatherInitialSources reduce with flatMap
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

refactor(extract): rewrites gatherInitialSources reduce with flatMap (#842)
  src/extract/gather-initial-sources.mjs
Due: eslint --fix, prettier --write

doc(options): elaborates on how to use the mainFields attributes in ESM context
  doc/options-reference.md
Due: none

feat(init): adds 'module' field to enhancedResolve mainFields when current module is type:module
  src/cli/init-config/build-config.mjs
  src/cli/init-config/get-user-input.mjs
  src/cli/init-config/index.mjs
  src/cli/init-config/types.d.ts
  test/cli/init-config/build-config.spec.mjs
Due: eslint --fix, prettier --write

feat(init): adds 'module' field to enhancedResolve mainFields when current module is type:module (#846)
  src/cli/init-config/build-config.mjs
  src/cli/init-config/get-user-input.mjs
  src/cli/init-config/index.mjs
  src/cli/init-config/types.d.ts
  test/cli/init-config/build-config.spec.mjs
Due: eslint --fix, prettier --write

feat(schema|types): adds builtInModules option
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/options.mjs
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

feat(main|extract): adds builtInModules option to tweak what to consider builtin/ core modules
  src/config-utl/extract-depcruise-config/merge-configs.mjs
  src/extract/resolve/index.mjs
  src/extract/resolve/is-built-in.mjs
  src/extract/resolve/resolve-amd.mjs
  src/extract/resolve/resolve-cjs.mjs
  src/main/resolve-options/normalize.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/is-built-in.spec.mjs
  test/main/resolve-options/normalize.spec.mjs
Due: eslint --fix, prettier --write

doc(options): adds builtinModules option
  doc/options-reference.md
Due: none

correct-a-typo
  doc/options-reference.md
Due: none

feature(main|extract): adds builtInModules option to tweak what to consider built-in (/ core) modules (#847)
  doc/options-reference.md
  src/config-utl/extract-depcruise-config/merge-configs.mjs
  src/extract/resolve/index.mjs
  src/extract/resolve/is-built-in.mjs
  src/extract/resolve/resolve-amd.mjs
  src/extract/resolve/resolve-cjs.mjs
  src/main/resolve-options/normalize.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/is-built-in.spec.mjs
  test/main/resolve-options/normalize.spec.mjs
  tools/schema/options.mjs
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

refactor(cli): renames assertion that checks whether the node environment is suitable
  bin/depcruise-baseline.mjs
  bin/depcruise-fmt.mjs
  bin/dependency-cruise.mjs
  src/cli/assert-node-environment-suitable.mjs
  test/cli/validate-node-environment.spec.mjs
Due: eslint --fix, prettier --write

refactor(main): renames assertions that check whether the rule set is valid
  src/main/cruise.mjs
  src/main/rule-set/assert-validity.mjs
  test/main/rule-set/assert-validity.spec.mjs
  test/validate/parse-ruleset.utl.mjs
Due: eslint --fix, prettier --write

refactor(main): renames assertions that checks whether the options are valid
  src/main/cruise.mjs
  src/main/format.mjs
  src/main/options/assert-validity.mjs
  src/main/rule-set/assert-validity.mjs
  test/main/options/assert-validity.spec.mjs
Due: eslint --fix, prettier --write

refactor: renames functions that assert things so they reflect that (#848)
  bin/depcruise-baseline.mjs
  bin/depcruise-fmt.mjs
  bin/dependency-cruise.mjs
  src/cli/assert-node-environment-suitable.mjs
  src/main/cruise.mjs
  src/main/format.mjs
  src/main/options/assert-validity.mjs
  src/main/rule-set/assert-validity.mjs
  test/cli/validate-node-environment.spec.mjs
  test/main/options/assert-validity.spec.mjs
  test/main/rule-set/assert-validity.spec.mjs
  test/validate/parse-ruleset.utl.mjs
Due: eslint --fix, prettier --write

build(npm): updates external devDependencies
  package-lock.json
  package.json
  test/extract/transpile/__fixtures__/babel-out-es-old.js
Due: none

14.1.0
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package-lock.json
  package.json
  src/meta.js
  tools/overview.svg
  types/overview.svg
Due: eslint --fix, prettier --write

ci(npm): fixes repository field to match some other kind of format
  package.json
Due: none

refactor: replaces lodash/cloneDeep with native structuredClone
  src/cli/index.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  src/enrich/derive/reachable.mjs
  src/main/helpers.mjs
  src/main/rule-set/normalize.mjs
  src/report/dot/theming.mjs
  test/main/norm-base-directory.utl.mjs
Due: eslint --fix, prettier --write

refactor: replaces lodash/clone with native structuredClone
  src/cli/normalize-cli-options.mjs
  src/enrich/summarize/add-rule-set-used.mjs
  src/extract/resolve/merge-manifests.mjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/consolidate-modules.mjs
  src/graph-utl/filter-bank.mjs
  src/main/options/normalize.mjs
  src/report/anon/index.mjs
  test/report/anon/anonymize.spec.mjs
Due: eslint --fix, prettier --write

refactor: replaces lodash's clone & cloneDeep with native structuredClone (#850)
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  src/enrich/derive/reachable.mjs
  src/enrich/summarize/add-rule-set-used.mjs
  src/extract/resolve/merge-manifests.mjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/consolidate-modules.mjs
  src/graph-utl/filter-bank.mjs
  src/main/helpers.mjs
  src/main/options/normalize.mjs
  src/main/rule-set/normalize.mjs
  src/report/anon/index.mjs
  src/report/dot/theming.mjs
  test/main/norm-base-directory.utl.mjs
  test/report/anon/anonymize.spec.mjs
Due: eslint --fix, prettier --write
