Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

chore: makes yarn --silent by default
  .yarnrc
Due: none

bugfix(enrich): removes superfluous trailing argument
  src/enrich/enrich-modules.mjs
Due: eslint --fix, prettier --write

refactor(config-utl): makes babel json5 configs and known violations read async as well
  src/cli/index.mjs
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-depcruise-config/read-config.mjs
  src/config-utl/extract-known-violations.mjs
  test/config-utl/extract-known-violations.spec.mjs
Due: eslint --fix, prettier --write

doc(extract): improves typing of the meta interface
  src/extract/transpile/meta.d.ts
Due: none

13.0.0-beta-5
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

bugfix(cache): handles empty known violations arrays
  .dependency-cruiser.json
  src/cache/options-compatible.mjs
Due: eslint --fix, prettier --write

refactor(progress): improves progress logging DX
  .dependency-cruiser.json
  src/cache/cache.mjs
  src/cache/find-content-changes.mjs
  src/cache/metadata-strategy.mjs
  src/cli/index.mjs
  src/cli/listeners/cli-feedback.mjs
  src/cli/listeners/ndjson.mjs
  src/cli/listeners/performance-log/format-helpers.mjs
  src/cli/listeners/performance-log/index.mjs
  src/enrich/enrich-modules.mjs
  src/enrich/soften-known-violations.mjs
  src/extract/index.mjs
  src/main/cruise.mjs
  src/utl/bus-log-levels.mjs
  src/utl/bus.mjs
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
  test/cli/listeners/performance-log-listener/handlers.spec.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package.json
Due: none

refactor(cache): makes read and write async
  src/cache/cache.mjs
  src/main/cruise.mjs
  test/cache/cache.spec.mjs
  test/main/main.cruise.cache.spec.mjs
Due: eslint --fix, prettier --write

WIP
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/main/cruise.mjs
  test/cache/cache.spec.mjs
  test/cache/content-strategy.spec.mjs
  test/cache/metadata-strategy.spec.mjs
Due: eslint --fix, prettier --write

13.0.0-beta-5-react
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/theming/bare.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

refactor(cache): makes git operations in metadata-strategy async
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/main/cruise.mjs
  test/cache/cache.spec.mjs
  test/cache/content-strategy.spec.mjs
  test/cache/metadata-strategy.spec.mjs
Due: eslint --fix, prettier --write

13.0.0-beta-6
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

doc(progress): copy edit of the first step
  src/cli/listeners/ndjson.mjs
  src/cli/listeners/performance-log/index.mjs
Due: eslint --fix, prettier --write

fix(schema|types): adds 'checksum' attribute to the module schema
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/modules.mjs
  types/cruise-result.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(schema|types): adds 'checksum' attribute to the module schema (#803)
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/modules.mjs
  types/cruise-result.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(schema|types): adds 'checksum' attribute to the module schema (#803)
  src/schema/cruise-result.schema.js
  src/schema/cruise-result.schema.json
  tools/schema/modules.mjs
  types/cruise-result.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(schema|types): adds null reporter to schema and types
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/output-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(schema|types): adds null reporter to schema and types
  src/schema/cruise-result.schema.js
  src/schema/cruise-result.schema.json
  tools/schema/output-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

chore: snoozes nodejs module warnings while running tests (backport)
  .mocharc.js
  package.json
Due: none

feature(report): adds a 'null' reporter (backport)
  src/report/index.js
  src/report/null.js
  test/report/null/null.spec.mjs
Due: eslint --fix, prettier --write

feature(progress): moves times closer to message in performance-log (backport)
  doc/cli.md
  src/cli/listeners/ndjson.js
  src/cli/listeners/performance-log/format-helpers.js
  src/cli/listeners/performance-log/index.js
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
  test/cli/listeners/performance-log-listener/handlers.spec.mjs
Due: eslint --fix, prettier --write

bugfix(cache): handles empty known violations arrays (backport)
  src/cache/options-compatible.js
Due: eslint --fix, prettier --write

chore: makes yarn --silent by default (backport)
  .yarnrc
Due: none

12.12.0
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

perf(extract): splits compiler availability and execution
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/extract/transpile/try-import-available.mjs
  test/extract/transpile/index.spec.mjs
  test/extract/transpile/meta.spec.mjs
  test/extract/transpile/try-import-available.spec.mjs
Due: eslint --fix, prettier --write

perf(extract): splits transpiler availability from execution (#804)
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/extract/transpile/try-import-available.mjs
  test/extract/transpile/index.spec.mjs
  test/extract/transpile/meta.spec.mjs
  test/extract/transpile/try-import-available.spec.mjs
Due: eslint --fix, prettier --write

13.0.0-beta-7
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

doc(report): corrects description of the null reporter
  src/report/null.mjs
Due: eslint --fix, prettier --write

fix(enrich): adds used tsconfig to options used + adds it to IConfiguration type
  src/enrich/summarize/summarize-options.mjs
  test/cli/__fixtures__/dynamic-import-nok.json
  test/cli/__fixtures__/dynamic-import-ok.json
  test/cli/__fixtures__/typescript-path-resolution.json
  test/main/__fixtures__/ts-no-precomp-cjs.json
  test/main/__fixtures__/ts-no-precomp-es.json
  test/main/__fixtures__/ts-precomp-cjs.json
  test/main/__fixtures__/ts-precomp-es.json
  types/cruise-result.d.ts
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(enrich): adds used tsconfig to options used + adds it & babelConfig, webpackConfig to IConfiguration type (#805)
  src/enrich/summarize/summarize-options.mjs
  test/cli/__fixtures__/dynamic-import-nok.json
  test/cli/__fixtures__/dynamic-import-ok.json
  test/cli/__fixtures__/typescript-path-resolution.json
  test/main/__fixtures__/ts-no-precomp-cjs.json
  test/main/__fixtures__/ts-no-precomp-es.json
  test/main/__fixtures__/ts-precomp-cjs.json
  test/main/__fixtures__/ts-precomp-es.json
  types/cruise-result.d.ts
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(types): adds mainFields and mainFiles to the enhancedResolveOptions in ICruiseOptions
  types/options.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

fix(enrich): adds used tsconfig to options used + adds it & babelConfig, webpackConfig to IConfiguration type (#805)
  src/enrich/summarize/summarize-options.js
  test/cli/__fixtures__/dynamic-import-nok.json
  test/cli/__fixtures__/dynamic-import-ok.json
  test/cli/__fixtures__/typescript-path-resolution.json
  test/main/__fixtures__/ts-no-precomp-cjs.json
  test/main/__fixtures__/ts-no-precomp-es.json
  test/main/__fixtures__/ts-precomp-cjs.json
  test/main/__fixtures__/ts-precomp-es.json
  types/cruise-result.d.ts
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

doc(report): corrects description of the null reporter
  src/report/null.js
Due: eslint --fix, prettier --write

chore(ci): removes v13 as integration branch and adds main
  .github/workflows/ci.yml
Due: none

build(npm): updates external devDependencies
  package.json
  test/extract/transpile/__fixtures__/svelte.js
Due: none

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
