Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

more tests
  src/report/d2.mjs
  test/report/d2/__fixtures__/03-one-module-invalid-info-and-warning.d2
  test/report/d2/__fixtures__/06-one-module-npm.d2
  test/report/d2/__fixtures__/07-one-module-matches-highlight.d2
  test/report/d2/__fixtures__/08-one-module-is-consolidated-and-node-module.d2
  test/report/d2/__fixtures__/10-one-dependency.d2
  test/report/d2/__fixtures__/11-one-dependency-invalid.d2
  test/report/d2/__fixtures__/12-one-dependency-invalid-with-weird-severity.d2
  test/report/d2/__fixtures__/13-one-dependency-cycle-invalid.d2
  test/report/d2/__fixtures__/14-one-dependency-cycle-valid.d2
  test/report/d2/__fixtures__/15-one-dependency-dynamic.d2
  test/report/d2/__fixtures__/16-one-dependency-dynamic-invalid.d2
  test/report/d2/__fixtures__/20-real-world-sample.d2
  test/report/d2/__mocks__/06-one-module-npm.mjs
  test/report/d2/__mocks__/07-one-module-matches-highlight.mjs
  test/report/d2/__mocks__/08-one-module-is-consolidated-and-node-module.mjs
  test/report/d2/__mocks__/10-one-dependency.mjs
  test/report/d2/__mocks__/11-one-dependency-invalid.mjs
  test/report/d2/__mocks__/12-one-dependency-invalid-with-weird-severity.mjs
  test/report/d2/__mocks__/13-one-dependency-cycle-invalid.mjs
  test/report/d2/__mocks__/14-one-dependency-cycle-valid.mjs
  test/report/d2/__mocks__/15-one-dependency-dynamic.mjs
  test/report/d2/__mocks__/16-one-dependency-dynamic-invalid.mjs
  test/report/d2/__mocks__/20-real-world-sample.mjs
  test/report/d2/d2.spec.mjs
  tools/generate-d2-fixtures.utl.mjs
Due: eslint --fix, prettier --write

humouring windos
  test/report/d2/d2.spec.mjs
Due: eslint --fix, prettier --write

fix: adds d2 to the generated schemas
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

15.1.0
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

fix: makes globbing work on windos again
  .dependency-cruiser.json
  src/extract/gather-initial-sources.mjs
  src/extract/transpile/meta.d.ts
Due: eslint --fix, prettier --write

15.1.1
  doc/assets/filtering/focus.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

refactor(tools): folds d2 test fixture regeneration into existing report fixture regeneration
  tools/generate-d2-fixtures.utl.mjs
  tools/regenerate-report-fixtures.utl.mjs
Due: prettier --write

feat(cache): adds option to compress the cache file
  .dependency-cruiser.json
  doc/options-reference.md
  src/cache/cache.mjs
  src/main/cruise.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/cache/cache.spec.mjs
  tools/schema/cache-options.mjs
  types/cache-options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

refactor(cache): pulls out to-compress-or-not into a separate private method
  .dependency-cruiser.json
  src/cache/cache.mjs
Due: eslint --fix, prettier --write

doc(cach): updates with type nerding
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  test/cache/cache.spec.mjs
Due: eslint --fix, prettier --write

feat(cache): adds option to compress the cache file (#860)
  .dependency-cruiser.json
  doc/options-reference.md
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/main/cruise.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/cache/cache.spec.mjs
  tools/schema/cache-options.mjs
  types/cache-options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

15.2.0
  doc/assets/theming/bare.svg
  doc/assets/theming/engineering.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

fix(test): ensures that by default subpath imports are used for local imports
  .dependency-cruiser.json
  test/report/baseline/baseline.spec.mjs
  test/utl/path-to-posix.spec.mjs
Due: eslint --fix, prettier --write

refactor(resolve): hands over preserveSymlink processing to EHR
  src/extract/resolve/index.mjs
  src/extract/resolve/resolve.mjs
  src/main/resolve-options/normalize.mjs
  test/main/resolve-options/normalize.spec.mjs
Due: eslint --fix, prettier --write

refactor(resolve): give to yarn what is yarn's
  src/extract/resolve/index.mjs
Due: eslint --fix, prettier --write

refactor(resolve): hands over preserveSymlink processing to EHR (#865)
  src/extract/resolve/index.mjs
  src/extract/resolve/resolve.mjs
  src/main/resolve-options/normalize.mjs
  test/main/resolve-options/normalize.spec.mjs
Due: eslint --fix, prettier --write

fix(test): makes c8 stop processing again when coverage is too low
  .c8rc.json
  src/cache/helpers.mjs
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
Due: eslint --fix, prettier --write

feat(extract): makes support for workspaces explicit
  doc/rules-reference.md
  src/extract/resolve/module-classifiers.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fix(validate): aliased-workspace ain't a real duplicate either, by definition
  src/validate/matchers.mjs
Due: eslint --fix, prettier --write

test(extract): adds integration test + covers corner case for when the preserveSymlinks flag is set to true
  .c8rc.json
  src/extract/resolve/module-classifiers.mjs
  test/cli/__fixtures__/workspaces-mono-repo/apps/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/expected.json
  test/cli/__fixtures__/workspaces-mono-repo/libs/books/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/bücher/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/livres/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/package.json
  test/cli/__fixtures__/workspaces-mono-repo/libs/图书/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/.package-lock.json
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/3kq578f
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/chose
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/ding
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/libs
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/thing
  test/cli/__fixtures__/workspaces-mono-repo/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/chose/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/chose/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/ding/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/ding/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/thing/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/thing/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/事物/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/事物/package.json
  test/cli/index.spec.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

nit: sort
  src/validate/matchers.mjs
Due: eslint --fix, prettier --write

feat(extract): makes support for workspaces explicit (#864)
  .c8rc.json
  doc/rules-reference.md
  src/extract/resolve/module-classifiers.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  src/validate/matchers.mjs
  test/cli/__fixtures__/workspaces-mono-repo/apps/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/expected.json
  test/cli/__fixtures__/workspaces-mono-repo/libs/books/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/bücher/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/livres/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/libs/package.json
  test/cli/__fixtures__/workspaces-mono-repo/libs/图书/index.mjs
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/.package-lock.json
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/3kq578f
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/chose
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/ding
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/libs
  test/cli/__fixtures__/workspaces-mono-repo/node_modules/thing
  test/cli/__fixtures__/workspaces-mono-repo/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/chose/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/chose/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/ding/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/ding/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/thing/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/thing/package.json
  test/cli/__fixtures__/workspaces-mono-repo/packages/事物/index.js
  test/cli/__fixtures__/workspaces-mono-repo/packages/事物/package.json
  test/cli/index.spec.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

15.3.0
  doc/assets/d2.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/engineering.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

doc: modify semicolons to commas
  doc/options-reference.md
Due: none

fix(resolve): takes 'workspaces' field into account when merging package manifests
  src/extract/resolve/merge-manifests.mjs
Due: eslint --fix, prettier --write

15.3.1-beta-1
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

doc: modify semicolons to commas (#866)
  doc/options-reference.md
Due: none

feat(reporter/dot): only colors invalid modules/ dependencies based on rule severity
  src/report/dot/default-theme.mjs
Due: eslint --fix, prettier --write

fix: adjusts unit test accordingly
  test/report/dot/theming.spec.mjs
Due: eslint --fix, prettier --write

feat(reporter/dot): only considers rule severity for coloring invalid modules/ dependencies (#869)
  src/report/dot/default-theme.mjs
  test/report/dot/theming.spec.mjs
Due: eslint --fix, prettier --write

feat(resolve): enables passing the aliasFields to enhanced-resolve
  .dependency-cruiser.json
  src/cli/init-config/config-template.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/options.mjs
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

doc(ument): that
  doc/options-reference.md
Due: none

feat(resolve): enables passing 'aliasFields' to enhanced-resolve (#870)
  .dependency-cruiser.json
  doc/options-reference.md
  src/cli/init-config/config-template.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/options.mjs
  types/options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

fixes: don't classify relative module names as 'aliased', give precedence to node native aliases might there be a conflict
  src/extract/resolve/module-classifiers.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

fix: webpack before native
  src/extract/resolve/module-classifiers.mjs
  test/extract/resolve/module-classifiers.get-alias-types.spec.mjs
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: {src,config}/**/*.{js,cjs,mjs}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})
  prettier --write: (((any of: {tools,src,config}/**/*.{js,cjs,mjs,json}) or (any of: bin/*)) or (any of: test/**/*.{utl,spec}.{mjs,cjs})) or (any of: types/**/*.d.ts)
  eslint --config types/.eslintrc.json --fix: any of: types/**/*.d.ts
