Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

12.12.1
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package.json
  src/meta.js
  tools/overview.svg
  types/overview.svg
Due: eslint --fix, prettier --write

chore: replaces references to the master branch with develop
  .github/workflows/ci.yml
  README.md
  SECURITY.md
  bin/dependency-cruise.mjs
  doc/cli.md
  doc/real-world-samples/react-dependency-cruiser-config.js
  doc/sample-output.md
  src/cli/init-config/config.js.template.hbs
  src/cli/init-config/config.js.template.js
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.cjs
  test/cli/__fixtures__/init-config/no-config-files-exist/oeleboele.js
Due: eslint --fix, prettier --write

doc(cache): adds tsdoc & checks on it
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/cache/options-compatible.mjs
  types/cruise-result.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

chore: replaces references to the develop branch with main
  .dependency-cruiser.json
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  README.md
  bin/dependency-cruise.mjs
  doc/assets/filtering/reaches-example.svg
  doc/assets/filtering/reaches-with-highlight.svg
  doc/assets/filtering/reaches-without-highlight.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/cli.md
  doc/options-reference.md
  doc/real-world-samples.md
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  doc/real-world-samples/react-dependency-cruiser-config.js
  doc/sample-output.md
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/nav-onetree.html
  docs/nav.html
  docs/schema-overview.html
  package.json
  src/cli/init-config/config.js.template.hbs
  src/cli/init-config/config.js.template.js
  src/schema/configuration.schema.json
  src/schema/cruise-result.schema.json
  test/report/metrics/__mocks/cruise-result-with-metrics-for-modules-and-folders.mjs
  tools/overview.svg
  tools/schema/.dependency-cruiser.json
  tools/schema/reporter-options.mjs
  types/dependency-cruiser.d.ts
  types/overview.svg
  types/reporter-options.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

build(npm): updates external dependencies
  package.json
  test/extract/transpile/__fixtures__/svelte.js
Due: none

fix(enrich): adds used tsconfig to options used + adds it & babelConfig, webpackConfig to IConfiguration type (#805)
  types/options.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

fix(types): adds mainFields and mainFiles to the enhancedResolveOptions in ICruiseOptions
  types/options.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

chore(ci): adds node 20 to build matrix, sets branches to existing ones
  .github/workflows/ci.yml
Due: none

chore: replaces references to develop, master branches with v12
  .dependency-cruiser.json
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  doc/assets/filtering/reaches-example.svg
  doc/assets/filtering/reaches-with-highlight.svg
  doc/assets/filtering/reaches-without-highlight.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/cli.md
  doc/options-reference.md
  doc/real-world-samples.md
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  doc/sample-output.md
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/nav-onetree.html
  docs/nav.html
  docs/schema-overview.html
  package.json
  src/schema/configuration.schema.json
  src/schema/cruise-result.schema.json
  test/report/metrics/__mocks/cruise-result-with-metrics-for-modules-and-folders.mjs
  tools/overview.svg
  tools/schema/.dependency-cruiser.json
  tools/schema/reporter-options.mjs
  types/dependency-cruiser.d.ts
  types/overview.svg
  types/reporter-options.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

12.12.2
  doc/assets/filtering/focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/base.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package.json
  src/meta.js
  tools/overview.svg
  types/overview.svg
Due: eslint --fix, prettier --write

feature(progress): some more tweaks to the usability of the performance-log
  src/cli/listeners/performance-log/format-helpers.mjs
  src/cli/listeners/performance-log/handlers.mjs
  test/cli/listeners/performance-log-listener/handlers.spec.mjs
Due: eslint --fix, prettier --write

chore(lint): disables exports-last rule
  .eslintrc.js
  src/cache/helpers.mjs
  src/cli/init-config/environment-helpers.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
  src/enrich/derive/metrics/get-module-metrics.mjs
  src/extract/parse/to-javascript-ast.mjs
  src/extract/parse/to-swc-ast.mjs
  src/extract/parse/to-typescript-ast.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/extract/resolve/module-classifiers.mjs
  src/extract/transpile/index.mjs
  src/extract/transpile/meta.mjs
  src/report/error-html/utl.mjs
  src/report/plugins.mjs
  src/utl/bus.mjs
Due: eslint --fix, prettier --write

13.0.0
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  package.json
  src/meta.js
  tools/overview.svg
  types/overview.svg
Due: eslint --fix, prettier --write

chore: correctly configures self-cruise to use 'import' condition in enhanced-resolve options
  .dependency-cruiser-known-violations.json
  .dependency-cruiser.json
Due: none

chore: converts the 'unlimited' self cruise config from json to esm
  configs/.dependency-cruiser-unlimited.json
  configs/.dependency-cruiser-unlimited.mjs
  package.json
Due: none

fix(build): lists all sources for the json schema in the Makefile
  Makefile
Due: none

feature(progress): some more tweaks to the usability of the performance-log
  src/cli/listeners/performance-log/format-helpers.js
  src/cli/listeners/performance-log/handlers.js
  test/cli/listeners/performance-log-listener/handlers.spec.mjs
Due: eslint --fix, prettier --write

fix(types): add root and extract-ts-config types
  package.json
  types/extract-ts-config.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

fix(types): adds root and extract-ts-config types (#809)
  package.json
  types/extract-ts-config.d.ts
Due: prettier --write, eslint --config types/.eslintrc.json --fix

fix(doc): corrects extract-ts-config return type also in tsdoc
  src/config-utl/extract-ts-config.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package.json
Due: none

13.0.1
  doc/assets/theming/bare.svg
  doc/assets/theming/vertical.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
  types/overview.svg
Due: eslint --fix, prettier --write

fix(doc): adds type exports for config-utl (babel, depcruise, webpack)
  package.json
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  types/extract-babel-config.d.ts
  types/extract-depcruise-config.d.ts
  types/extract-ts-config.d.ts
  types/extract-webpack-resolve-config.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

chore(package.json): store format tmp file somewhere in node_modules
  package.json
Due: none

chore(.gitattributes): tellss linguist what's generated, what's documentation
  .gitattributes
Due: none

chore(gitignore): adds .clinic to folders to ignore
  .gitignore
Due: none

13.0.2
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
  types/overview.svg
Due: eslint --fix, prettier --write

doc(cli|options): removes 'experimental' notices + various other copy edits
  doc/cli.md
  doc/options-reference.md
Due: none

chore(tools): updates meta.js generator to use top level await
  tools/generate-meta.utl.mjs
Due: prettier --write

build(npm): updates external dependencies
  package.json
  src/cli/format.mjs
  test/extract/transpile/__fixtures__/typescriptscript.js
  test/extract/transpile/__mocks__/dontconfuse_ts_for_tsx/transpiled/Observable.js
  tools/generate-meta.utl.mjs
Due: eslint --fix, prettier --write

chore(extract): makes 'require' detection with typescript >5.2.0 as well
  src/extract/ast-extractors/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

chore(extract): makes 'require' detection with typescript >5.2.0 as well (#811)
  src/extract/ast-extractors/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

13.0.3
  doc/assets/theming/bare.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

Find transpilers installed in current directory first
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  src/extract/ast-extractors/extract-typescript-deps.mjs
  src/extract/ast-extractors/swc-dependency-visitor.mjs
  src/extract/parse/to-swc-ast.mjs
  src/extract/parse/to-typescript-ast.mjs
  src/extract/transpile/babel-wrap.mjs
  src/extract/transpile/coffeescript-wrap.mjs
  src/extract/transpile/livescript-wrap.mjs
  src/extract/transpile/svelte-wrap.mjs
  src/extract/transpile/try-import-available.mjs
  src/extract/transpile/try-import.cjs
  src/extract/transpile/typescript-wrap.mjs
  src/extract/transpile/vue-template-wrap.cjs
Due: eslint --fix, prettier --write

Remove global install warning
  package.json
  src/cli/index.mjs
Due: eslint --fix, prettier --write

Update document about transpiler dependencies
  doc/faq.md
Due: none

13.0.4
  doc/assets/filtering/focus.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package.json
  src/meta.js
Due: eslint --fix, prettier --write
