Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

build(npm): pins transitive devDependency postcss (that's via vue) to ^8.14.31
  package-lock.json
  package.json
Due: none

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

14.1.1
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/theming/engineering.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for graph-utl
  package.json
  src/cache/helpers.mjs
  src/enrich/derive/folders/aggregate-to-folders.mjs
  src/enrich/derive/metrics/get-module-metrics.mjs
  src/enrich/derive/reachable.mjs
  src/enrich/enrich-modules.mjs
  src/enrich/summarize/index.mjs
  src/enrich/summarize/summarize-folders.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/extract/gather-initial-sources.mjs
  src/main/report-wrap.mjs
  src/main/resolve-options/normalize.mjs
  src/report/dot/index.mjs
  src/report/dot/prepare-custom-level.mjs
  src/report/dot/prepare-flat-level.mjs
  src/report/dot/prepare-folder-level.mjs
  src/report/error.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for graph-utl - also in tests
  test/graph-utl/__fixtures__/focus/dependency-cruiser-focus-on-main-depth-2.mjs
  test/graph-utl/__fixtures__/focus/dependency-cruiser-only-src.mjs
  test/graph-utl/add-focus.spec.mjs
  test/graph-utl/compare.rules.spec.mjs
  test/graph-utl/compare.severities.spec.mjs
  test/graph-utl/compare.violations.spec.mjs
  test/graph-utl/consolidate-to-folder.spec.mjs
  test/graph-utl/consolidate-to-pattern.spec.mjs
  test/graph-utl/filter-bank.spec.mjs
  test/graph-utl/indexed-module-graph.spec.mjs
  test/graph-utl/rule-set.spec.mjs
  test/report/azure-devops/__mocks__/errors-and-known-violations.mjs
  test/report/azure-devops/__mocks__/known-violations.mjs
  test/report/teamcity/__mocks__/known-violations.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for utl - also in tests
  test/config-utl/extract-babel-config.spec.mjs
  test/config-utl/extract-ts-config.spec.mjs
  test/extract/gather-initial-sources.spec.mjs
  test/main/main.cruise.spec.mjs
  test/utl/get-extension.spec.mjs
  test/utl/regex-util.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for enrich
  src/main/cruise.mjs
  src/main/report-wrap.mjs
  test/enrich/de-duplicate-violations.spec.mjs
  test/enrich/derive/dependents/get-dependents.spec.mjs
  test/enrich/derive/folders/aggregate-to-folders.spec.mjs
  test/enrich/derive/folders/index.spec.mjs
  test/enrich/derive/folders/utl.spec.mjs
  test/enrich/derive/metrics/module.spec.mjs
  test/enrich/derive/orphan/index.spec.mjs
  test/enrich/derive/orphan/is-orphan.spec.mjs
  test/enrich/derive/reachable.spec.mjs
  test/enrich/soften-known-violations.spec.mjs
  test/enrich/summarize-folders.spec.mjs
  test/enrich/summarize.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for report
  package.json
  src/main/options/assert-validity.mjs
  src/main/report-wrap.mjs
  test/report/anon/anonymize-path-element.spec.mjs
  test/report/anon/anonymize-path.spec.mjs
  test/report/anon/anonymize.spec.mjs
  test/report/anon/random-string.spec.mjs
  test/report/azure-devops/azure-devops.spec.mjs
  test/report/baseline/baseline.spec.mjs
  test/report/csv/csv.spec.mjs
  test/report/dot/custom-level/index.spec.mjs
  test/report/dot/flat-level/index.spec.mjs
  test/report/dot/folder-level/folder-level.spec.mjs
  test/report/dot/module-level/index.spec.mjs
  test/report/dot/module-utl.spec.mjs
  test/report/dot/theming.spec.mjs
  test/report/error-html/error-html.spec.mjs
  test/report/error-html/utl.spec.mjs
  test/report/error/error-long.spec.mjs
  test/report/error/error.spec.mjs
  test/report/html/html.spec.mjs
  test/report/markdown/markdown.spec.mjs
  test/report/mermaid/mermaid.spec.mjs
  test/report/metrics/metrics.spec.mjs
  test/report/null/null.spec.mjs
  test/report/plugins/index.get-external-plugin-reporter.spec.mjs
  test/report/plugins/index.is-valid-plugin.spec.mjs
  test/report/teamcity/teamcity.spec.mjs
  test/report/text/text.spec.mjs
  test/report/utl/dependency-to-incidence-transformer.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for main
  package.json
  src/cli/format-meta-info.mjs
  src/cli/format.mjs
  src/cli/index.mjs
  src/config-utl/extract-depcruise-config/index.mjs
  test/enrich/derive/reachable.spec.mjs
  test/extract/gather-initial-sources.spec.mjs
  test/extract/get-dependencies.amd.spec.mjs
  test/extract/get-dependencies.cjs.spec.mjs
  test/extract/get-dependencies.odds-and-ends.spec.mjs
  test/extract/index.cachebusting.spec.mjs
  test/extract/index.donotfollow.spec.mjs
  test/extract/index.exclude.spec.mjs
  test/extract/index.maxdepth.spec.mjs
  test/extract/resolve/external-module-helpers.spec.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
  test/extract/resolve/index.typescript.spec.mjs
  test/extract/run-get-dependencies-fixture.utl.mjs
  test/main/files-and-dirs/normalize.spec.mjs
  test/main/helpers.spec.mjs
  test/main/main.cruise-reporterless.spec.mjs
  test/main/main.cruise.cache.spec.mjs
  test/main/main.cruise.dynamic-imports.spec.mjs
  test/main/main.cruise.reachable-integration.spec.mjs
  test/main/main.cruise.spec.mjs
  test/main/main.cruise.ts-pre-compilation-deps.spec.mjs
  test/main/main.cruise.type-only-imports.spec.mjs
  test/main/main.cruise.type-only-module-references.spec.mjs
  test/main/main.format.spec.mjs
  test/main/options/assert-validity.spec.mjs
  test/main/options/normalize.cruise-options.spec.mjs
  test/main/options/normalize.format-options.spec.mjs
  test/main/resolve-options/normalize.spec.mjs
  test/main/rule-set/assert-validity.spec.mjs
  test/main/rule-set/normalize.spec.mjs
  test/validate/parse-ruleset.utl.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for cache
  package.json
  src/main/cruise.mjs
  test/cache/cache.spec.mjs
  test/cache/content-strategy.spec.mjs
  test/cache/find-content-changes.spec.mjs
  test/cache/metadata-strategy.spec.mjs
  test/cache/options-compatible.spec.mjs
  test/main/main.cruise.cache.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for cli
  bin/depcruise-baseline.mjs
  bin/depcruise-fmt.mjs
  bin/dependency-cruise.mjs
  bin/wrap-stream-in-html.mjs
  package.json
  test/cli/format-meta-info.spec.mjs
  test/cli/format.spec.mjs
  test/cli/index.spec.mjs
  test/cli/init-config/build-config.spec.mjs
  test/cli/init-config/environment-helpers-matching-filenames.spec.mjs
  test/cli/init-config/environment-helpers.spec.mjs
  test/cli/init-config/find-extensions.spec.mjs
  test/cli/init-config/index.spec.mjs
  test/cli/init-config/normalize-init-options.spec.mjs
  test/cli/init-config/utl.spec.mjs
  test/cli/init-config/validators.spec.mjs
  test/cli/init-config/write-config.spec.mjs
  test/cli/init-config/write-run-scripts-to-manifest.spec.mjs
  test/cli/listeners/performance-log-listener/format-helpers.spec.mjs
  test/cli/listeners/performance-log-listener/handlers.spec.mjs
  test/cli/normalize-cli-options.spec.mjs
  test/cli/tools/wrap-stream-in-html.spec.mjs
  test/cli/utl/assert-file-existence.spec.mjs
  test/cli/utl/io.spec.mjs
  test/cli/validate-node-environment.spec.mjs
  test/main/main.cruise.reachable-integration.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for the json schemas
  package.json
  src/main/format.mjs
  src/main/rule-set/assert-validity.mjs
  test/cli/init-config/build-config.spec.mjs
  test/cli/init-config/index.spec.mjs
  test/enrich/summarize.spec.mjs
  test/main/main.cruise-reporterless.spec.mjs
  test/main/main.cruise.cache.spec.mjs
  test/main/main.cruise.dynamic-imports.spec.mjs
  test/main/main.cruise.reachable-integration.spec.mjs
  test/main/main.cruise.spec.mjs
  test/main/main.cruise.ts-pre-compilation-deps.spec.mjs
  test/main/main.cruise.type-only-imports.spec.mjs
  test/main/main.cruise.type-only-module-references.spec.mjs
  test/report/anon/anonymize.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for validate
  package.json
  src/enrich/add-validations.mjs
  src/enrich/derive/folders/index.mjs
  src/enrich/derive/reachable.mjs
  test/configs/no-orphans.spec.mjs
  test/validate/index.core.spec.mjs
  test/validate/index.could-not-resolve.spec.mjs
  test/validate/index.cycle-via-not.spec.mjs
  test/validate/index.cycle-via-some-not.spec.mjs
  test/validate/index.cycle-via.spec.mjs
  test/validate/index.exotic-require.spec.mjs
  test/validate/index.groupmatching.spec.mjs
  test/validate/index.license.spec.mjs
  test/validate/index.more-than-one-dependency-type.spec.mjs
  test/validate/index.more-unstable.spec.mjs
  test/validate/index.orphans.spec.mjs
  test/validate/index.pre-compilation-only.spec.mjs
  test/validate/index.reachable.spec.mjs
  test/validate/index.required-rules.spec.mjs
  test/validate/index.spec.mjs
  test/validate/index.type-only.spec.mjs
  test/validate/match-folder-dependency-rule.spec.mjs
  test/validate/match-module-rule.dependents.spec.mjs
  test/validate/match-module-rule.orphan.spec.mjs
  test/validate/match-module-rule.reachable.spec.mjs
  test/validate/match-module-rule.reaches.spec.mjs
  test/validate/match-module-rule.spec.mjs
  test/validate/violates-required-rule.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses node imports aliasses in package.json for config-utl
  package.json
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  test/config-utl/extract-babel-config.spec.mjs
  test/config-utl/extract-depcruise-config/index.spec.mjs
  test/config-utl/extract-depcruise-config/merge-rule-sets.spec.mjs
  test/config-utl/extract-depcruise-config/read-config.spec.mjs
  test/config-utl/extract-known-violations.spec.mjs
  test/config-utl/extract-ts-config.spec.mjs
  test/config-utl/extract-webpack-resolve-config-native.spec.mjs
  test/config-utl/extract-webpack-resolve-config-non-native.spec.mjs
  test/config-utl/make-absolute.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
Due: eslint --fix, prettier --write

chore(test): replaces a stray use of lodash.cloneXXX with structuredClone
  test/report/dot/theming.spec.mjs
Due: eslint --fix, prettier --write

refactor: uses one subpath import for most stuff in src
  bin/depcruise-baseline.mjs
  bin/depcruise-fmt.mjs
  bin/dependency-cruise.mjs
  package.json
  src/cli/assert-node-environment-suitable.mjs
  src/cli/init-config/normalize-init-options.mjs
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-ts-config.mjs
  src/extract/ast-extractors/extract-typescript-deps.mjs
  src/extract/ast-extractors/swc-dependency-visitor.mjs
  src/extract/parse/to-swc-ast.mjs
  src/extract/parse/to-typescript-ast.mjs
  src/extract/transpile/babel-wrap.mjs
  src/extract/transpile/coffeescript-wrap.mjs
  src/extract/transpile/livescript-wrap.mjs
  src/extract/transpile/meta.mjs
  src/extract/transpile/svelte-wrap.mjs
  src/extract/transpile/typescript-wrap.mjs
  src/extract/transpile/vue-template-wrap.cjs
  src/report/error-html/index.mjs
  src/report/error-html/utl.mjs
  src/report/markdown.mjs
Due: eslint --fix, prettier --write

chore(tools): replaces a stray use of lodash.cloneXXX with structuredClone
  tools/generate-schemas.utl.mjs
Due: prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
  test/extract/transpile/__fixtures__/babel-out-es-old.js
  tools/regenerate-main-fixtures.utl.mjs
Due: prettier --write

14.1.2
  doc/assets/filtering/focus.svg
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
Due: eslint --fix, prettier --write

feat(report): links to npmjs/ nodejs.org for npm respectively node core modules
  src/report/dot/module-utl.mjs
  src/report/utl/index.mjs
  test/cli/__fixtures__/cjs.dir.filtered.dot
  test/report/dot/folder-level/__fixtures__/dependency-cruiser-2019-01-14.dot
  test/report/dot/module-level/__fixtures__/clusterless.dot
  test/report/dot/module-level/__mocks__/clusterless.json
  test/report/utl/index.spec.mjs
Due: eslint --fix, prettier --write

feat(report): links to npmjs/ nodejs.org for npm respectively node core modules (#854)
  src/report/dot/module-utl.mjs
  src/report/utl/index.mjs
  test/cli/__fixtures__/cjs.dir.filtered.dot
  test/report/dot/folder-level/__fixtures__/dependency-cruiser-2019-01-14.dot
  test/report/dot/module-level/__fixtures__/clusterless.dot
  test/report/dot/module-level/__mocks__/clusterless.json
  test/report/utl/index.spec.mjs
Due: eslint --fix, prettier --write

feat(extract): makes support for subpath imports explicit
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/module-classifiers.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  src/validate/matchers.mjs
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/extract/resolve/determine-dependency-types.spec.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
  test/extract/resolve/module-classifiers.is-external-module.spec.mjs
  test/extract/resolve/module-classifiers.is-relative-module-name.spec.mjs
  test/validate/index.more-than-one-dependency-type.spec.mjs
  test/validate/index.type-only.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

doc(rules-reference): documents the new aliased-* dependency types
  doc/rules-reference.md
Due: none

doc(rules-reference): documents that and why we don't count aliased* and type-only dependency-types for the moreThanOneDependencyType rule
  doc/rules-reference.md
Due: none

feat(extract): makes support for subpath imports explicit (#855)
  doc/rules-reference.md
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/module-classifiers.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  src/validate/matchers.mjs
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/extract/resolve/determine-dependency-types.spec.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
  test/extract/resolve/module-classifiers.is-external-module.spec.mjs
  test/extract/resolve/module-classifiers.is-relative-module-name.spec.mjs
  test/validate/index.more-than-one-dependency-type.spec.mjs
  test/validate/index.type-only.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

ci: sets latest used node version to 21
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

feat(extract): makes 'real' depencency type on the other side of aliases available alongside aliases
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/module-classifiers.mjs
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/extract/resolve/determine-dependency-types.spec.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
Due: eslint --fix, prettier --write

doc: adds a little note to the documentation about this
  doc/rules-reference.md
Due: none

feat!(extract): makes 'real' depencency type available alongside aliases BREAKING (#856)
  doc/rules-reference.md
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/module-classifiers.mjs
  test/cli/__fixtures__/typescript-path-resolution.json
  test/cli/__fixtures__/webpack-config-alias-cruiser-config.json
  test/cli/__fixtures__/webpack-config-alias.json
  test/extract/resolve/determine-dependency-types.spec.mjs
  test/extract/resolve/index.general.spec.mjs
  test/extract/resolve/index.tsconfig.spec.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package.json
Due: none

feature(schema|types): adds 'pathUnresolved' to reaches and 'unresolved' to module
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  tools/schema/compound-reaches-type.mjs
  tools/schema/modules.mjs
  types/cruise-result.d.ts
  types/filter-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

build(npm): updates external devDependencies
  package-lock.json
  package.json
Due: none

15.0.0
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.js
  types/overview.svg
Due: eslint --fix, prettier --write

refactor(configs): makes the 2 sample reporter plugins ESM
  .dependency-cruiser.json
  configs/plugins/3d-reporter-plugin.mjs
  configs/plugins/stats-reporter-plugin.mjs
  package.json
Due: none

feat(report): adds basic d2 (https://d2lang.com/) reporter
  bin/depcruise-fmt.mjs
  bin/dependency-cruise.mjs
  doc/assets/d2.svg
  doc/cli.md
  src/report/d2.mjs
  src/report/index.mjs
  tools/schema/output-type.mjs
  types/shared-types.d.ts
Due: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

ads d2 example generation to the generate-saamples script
  doc/assets/filtering/snazzy-focus.svg
  doc/assets/flat-report-counter-example.svg
  doc/assets/flat-report-example.svg
  doc/assets/theming/bare.svg
  doc/assets/theming/base.svg
  doc/assets/theming/engineering.svg
  doc/assets/theming/vertical.svg
  doc/cli.md
  tools/generate-samples.sh
Due: none

adds the first few tests
  src/report/d2.mjs
  test/report/d2/__fixtures__/00-empty.d2
  test/report/d2/__fixtures__/000-one-dependency.d2
  test/report/d2/__fixtures__/01-one-module-no-dependencies.d2
  test/report/d2/__fixtures__/02-one-module-invalid-error.d2
  test/report/d2/__fixtures__/03-one-module-invalid-info-and-warning.d2
  test/report/d2/__fixtures__/04-one-module-invalid-weird-severity.d2
  test/report/d2/__fixtures__/05-one-module-in-root.d2
  test/report/d2/__mocks__/00-empty.mjs
  test/report/d2/__mocks__/000-one-dependency.mjs
  test/report/d2/__mocks__/01-one-module-no-dependencies.mjs
  test/report/d2/__mocks__/02-one-module-invalid-error.mjs
  test/report/d2/__mocks__/03-one-module-invalid-info-and-warning.mjs
  test/report/d2/__mocks__/04-one-module-invalid-weird-severity.mjs
  test/report/d2/__mocks__/05-one-module-in-root.mjs
  test/report/d2/d2.spec.mjs
Due: eslint --fix, prettier --write
