Repository sverweij/dependency-cruiser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --config types/.eslintrc.json --fix

.lintstagedrc.json:

{
  "{src,config}/**/*.{js,cjs,mjs}": ["eslint --fix"],
  "{tools,src,config}/**/*.{js,cjs,mjs,json}": ["prettier --write"],
  "bin/*": ["eslint --fix", "prettier --write"],
  "test/**/*.{utl,spec}.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "types/**/*.d.ts": [
    "eslint --config types/.eslintrc.json --fix",
    "prettier --write"
  ]
}

feat(extract): adds recognition of jsdoc @import type imports
  src/extract/tsc/extract-typescript-deps.mjs
  src/schema/baseline-violations.schema.json
  src/schema/baseline-violations.schema.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/extract/tsc/jsdoc-import-tags.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.mts
Due: eslint --fix, prettier --write

changes dependencyType names for the flavors of jsdoc imports
  src/extract/tsc/extract-typescript-deps.mjs
  src/schema/baseline-violations.schema.json
  src/schema/baseline-violations.schema.mjs
  src/schema/configuration.schema.json
  src/schema/configuration.schema.mjs
  src/schema/cruise-result.schema.json
  src/schema/cruise-result.schema.mjs
  test/extract/tsc/jsdoc-import-tags.spec.mjs
  tools/schema/dependency-type.mjs
  types/shared-types.d.mts
Due: eslint --fix, prettier --write

documents the above + the detectJSDocImports option from the next commit
  doc/options-reference.md
  doc/rules-reference.md
Due: none

adds some dog food
  src/cache/cache.mjs
  src/cache/content-strategy.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/cache/options-compatible.mjs
Due: eslint --fix, prettier --write

adds e2e test
  test/cli/__fixtures__/jsdoc-import-tags/dependency-cruiser-config.mjs
  test/cli/__fixtures__/jsdoc-import-tags/expected.json
  test/cli/__fixtures__/jsdoc-import-tags/src/index.mjs
  test/cli/__fixtures__/jsdoc-import-tags/src/types.d.mts
  test/cli/index.spec.mjs
Due: eslint --fix, prettier --write

disables yarn berry integration test - it runs ok locally but is being an *ss on the ci
  .github/workflows/ci.yml
Due: none

roll back typo in a comment
  .github/workflows/ci.yml
Due: none

updates documentation sample to be in (more readable) javascript
  doc/options-reference.md
Due: none

adds three backticks the GH UI didn't want to take
  doc/options-reference.md
Due: none

more dog food
  .dependency-cruiser.mjs
  src/cache/content-strategy.mjs
  src/cache/find-content-changes.mjs
  src/cache/helpers.mjs
  src/cache/metadata-strategy.mjs
  src/cli/init-config/build-config.mjs
  src/cli/init-config/index.mjs
  src/cli/init-config/normalize-init-options.mjs
  src/config-utl/extract-depcruise-options.mjs
  src/config-utl/extract-known-violations.mjs
  src/extract/extract-dependencies.mjs
  src/extract/extract-stats.mjs
  src/extract/gather-initial-sources.mjs
  src/extract/index.mjs
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/index.mjs
  src/extract/resolve/module-classifiers.mjs
  src/extract/swc/parse.mjs
  src/extract/tsc/extract-typescript-deps.mjs
  src/graph-utl/consolidate-module-dependencies.mjs
  src/graph-utl/filter-bank.mjs
  src/graph-utl/indexed-module-graph.mjs
  src/graph-utl/rule-set.mjs
  src/main/options/assert-validity.mjs
  src/main/options/normalize.mjs
  src/main/report-wrap.mjs
  src/main/resolve-options/normalize.mjs
  src/main/rule-set/assert-validity.mjs
  src/main/rule-set/normalize.mjs
  src/validate/index.mjs
  src/validate/match-dependency-rule.mjs
  src/validate/match-module-rule-helpers.mjs
  src/validate/match-module-rule.mjs
Due: eslint --fix, prettier --write

doc: documents bracket style imports as a future feature
  doc/options-reference.md
Due: none

16.7.0-beta-1
  doc/assets/d2.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.cjs
Due: eslint --fix, prettier --write

refactor: addresses small linting issues
  bin/depcruise-baseline.mjs
  doc/assets/filtering/focus.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  docs/schema-overview.html
  src/cli/index.mjs
  src/cli/listeners/performance-log/format-helpers.mjs
  src/cli/utl/io.mjs
  src/config-utl/extract-known-violations.mjs
  src/enrich/soften-known-violations.mjs
  src/extract/extract-dependencies.mjs
  src/extract/resolve/determine-dependency-types.mjs
  src/extract/resolve/external-module-helpers.mjs
  src/extract/resolve/module-classifiers.mjs
  src/extract/resolve/resolve-helpers.mjs
  src/extract/swc/dependency-visitor.mjs
  src/extract/tsc/extract-typescript-deps.mjs
  src/main/cruise.mjs
  src/main/options/assert-validity.mjs
  src/main/rule-set/normalize.mjs
  src/report/anon/anonymize-path.mjs
  src/report/dot-webpage/svg-in-html-snippets/script.cjs
  src/report/dot/index.mjs
  src/report/markdown.mjs
  src/report/mermaid.mjs
  src/utl/get-extension.mjs
  src/validate/matchers.mjs
  tools/overview.svg
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

chore: moves eslint to flat config, migrates to eslint 9
  .eslintrc.cjs
  configs/.dependency-cruiser-show-metrics-config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-webpack-resolve-config.mjs
  src/enrich/summarize/add-rule-set-used.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/extract/gather-initial-sources.mjs
  src/extract/transpile/meta.d.ts
  src/graph-utl/filter-bank.mjs
  src/main/cruise.mjs
  src/main/format.mjs
  src/main/resolve-options/normalize.mjs
  src/report/d2.mjs
  src/report/teamcity.mjs
  src/utl/try-import.mjs
  src/utl/try-require.cjs
  src/validate/match-module-rule-helpers.mjs
  src/validate/matchers.mjs
  test/extract/index.donotfollow.spec.mjs
  test/extract/index.exclude.spec.mjs
  test/extract/index.maxdepth.spec.mjs
  test/extract/transpile/svelte-preprocess.spec.mjs
  test/utl/try-import.spec.mjs
  test/utl/try-require.spec.cjs
  types/.eslintrc.json
  types/eslint.config.mjs
Due: eslint --fix, prettier --write

fix: adjusts some dependency-cruiser rules to allow eslint configs to link to devDependencies. Vets a new OS license.
  .dependency-cruiser.mjs
  .github/workflows/ci.yml
Due: none

chore: migrates to eslint 9 & flat config (#968)
  .dependency-cruiser.mjs
  .eslintrc.cjs
  .github/workflows/ci.yml
  configs/.dependency-cruiser-show-metrics-config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  src/cli/index.mjs
  src/cli/normalize-cli-options.mjs
  src/config-utl/extract-babel-config.mjs
  src/config-utl/extract-webpack-resolve-config.mjs
  src/enrich/summarize/add-rule-set-used.mjs
  src/enrich/summarize/summarize-modules.mjs
  src/extract/gather-initial-sources.mjs
  src/extract/transpile/meta.d.ts
  src/graph-utl/filter-bank.mjs
  src/main/cruise.mjs
  src/main/format.mjs
  src/main/resolve-options/normalize.mjs
  src/report/d2.mjs
  src/report/teamcity.mjs
  src/utl/try-import.mjs
  src/utl/try-require.cjs
  src/validate/match-module-rule-helpers.mjs
  src/validate/matchers.mjs
  test/extract/index.donotfollow.spec.mjs
  test/extract/index.exclude.spec.mjs
  test/extract/index.maxdepth.spec.mjs
  test/extract/transpile/svelte-preprocess.spec.mjs
  test/utl/try-import.spec.mjs
  test/utl/try-require.spec.cjs
  types/.eslintrc.json
  types/eslint.config.mjs
Due: eslint --fix, prettier --write

fix(npm): shortens the message in the (only) distributed script
  package.json
Due: none

build(npm): updates external dependencies
  package-lock.json
  package.json
  test/extract/transpile/__fixtures__/svelte-too.js
  test/extract/transpile/__fixtures__/svelte.js
Due: none

feat(extract): adds recognition of jsdoc 'bracket' imports
  .dependency-cruiser.mjs
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  src/extract/tsc/extract-typescript-deps.mjs
  test/cache/cache.spec.mjs
  test/cache/content-strategy.spec.mjs
  test/extract/tsc/jsdoc-bracket-imports.spec.mjs
  test/extract/tsc/jsdoc-import-tags.spec.mjs
  tools/schema/.dependency-cruiser.mjs
  types/.dependency-cruiser.mjs
Due: eslint --fix, prettier --write

doc: updates FAQ, options-reference, rules-reference
  .dependency-cruiser.mjs
  doc/faq.md
  doc/options-reference.md
  doc/rules-reference.md
Due: none

16.7.0-beta-2
  doc/assets/d2.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-dependency-graph.html
  package-lock.json
  package.json
  src/meta.cjs
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

feat(init): adds question to enable detection of jsdoc imports
  .dependency-cruiser-known-violations.json
  src/cli/init-config/build-config.mjs
  src/cli/init-config/config-template.mjs
  src/cli/init-config/get-user-input.mjs
  src/cli/init-config/index.mjs
  src/cli/init-config/types.d.ts
Due: eslint --fix, prettier --write

nits
  src/cli/init-config/get-user-input.mjs
  src/cli/init-config/write-run-scripts-to-manifest.mjs
Due: eslint --fix, prettier --write

feat(init): adds question to enable detection of jsdoc imports (#970)
  .dependency-cruiser-known-violations.json
  src/cli/init-config/build-config.mjs
  src/cli/init-config/config-template.mjs
  src/cli/init-config/get-user-input.mjs
  src/cli/init-config/index.mjs
  src/cli/init-config/types.d.ts
  src/cli/init-config/write-run-scripts-to-manifest.mjs
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package.json
Due: none

refactor: ditches unneeded nullish coalesces
  src/extract/tsc/extract-typescript-deps.mjs
Due: eslint --fix, prettier --write

feat: also detect imports nested deeper into jsdoc tags
  src/extract/tsc/extract-typescript-deps.mjs
  test/extract/tsc/jsdoc-bracket-imports.spec.mjs
Due: eslint --fix, prettier --write

more nits
  src/extract/tsc/extract-typescript-deps.mjs
  test/extract/tsc/jsdoc-bracket-imports.spec.mjs
Due: eslint --fix, prettier --write

feat(extract): adds recognition of jsdoc 'bracket' imports (#969)
  .dependency-cruiser.mjs
  configs/.dependency-cruiser-show-metrics-config.mjs
  configs/.dependency-cruiser-unlimited.mjs
  doc/faq.md
  doc/options-reference.md
  doc/rules-reference.md
  package.json
  src/extract/tsc/extract-typescript-deps.mjs
  test/cache/cache.spec.mjs
  test/cache/content-strategy.spec.mjs
  test/extract/tsc/jsdoc-bracket-imports.spec.mjs
  test/extract/tsc/jsdoc-import-tags.spec.mjs
  tools/schema/.dependency-cruiser.mjs
  types/.dependency-cruiser.mjs
Due: eslint --fix, prettier --write

refactor(resolve): uses Maps for the context maps
  src/extract/resolve/resolve.mjs
Due: eslint --fix, prettier --write

16.7.0
  doc/assets/d2.svg
  doc/real-world-samples/dependency-cruiser-archi-graph.svg
  doc/real-world-samples/dependency-cruiser-dir-graph.svg
  doc/real-world-samples/dependency-cruiser-without-node_modules.svg
  docs/dependency-cruiser-archi-graph.html
  docs/dependency-cruiser-dependency-graph.html
  docs/dependency-cruiser-dir-graph.html
  package-lock.json
  package.json
  src/meta.cjs
  tools/walk.mjs
  types/overview.html
  types/overview.svg
Due: eslint --fix, prettier --write

build(npm): updates external dependencies
  package-lock.json
  package.json
Due: none

chore(tools): adds a script that prints a readable AST from any tsc-readable file
  tools/src2tsast.mjs
  tools/walk.mjs
Due: prettier --write

Update README.md
  README.md
Due: none
